/*fonts*/

@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,500,700,700i');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700');
@font-face {
    font-family: "Glyphicons Halflings";
    src: url("fonts/glyphicons-halflings-regular.eot?#iefix");
    src: url("fonts/glyphicons-halflings-regular.eot?#iefix") format("eot"), url("fonts/glyphicons-halflings-regular.woff2") format("woff2"), url("fonts/glyphicons-halflings-regular.woff") format("woff"), url("fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("fonts/glyphicons-halflings-regular.svg#ab9cd062-380f-4b53-b1a7-c0bec7402235") format("svg");
}


/*main*/

body {
    font-family: 'Helvetica', sans-serif;
    background-color: #00000F;
    color: #414141;
    letter-spacing: 0.035em;
}

a,
a:visited {
    color: #E8E6E6;
}

a:focus,
a:hover {
    color: #FFFFFF;
    text-decoration: none;
}

/*heading*/

.navbar-inverse {
    background-color: #00001F;
    border: 0;
    border-bottom: 1px solid #E8E6E6;
    position: relative;
    margin-bottom: 0;
    border-radius: 0;
}

.navbar .container {
    padding-bottom: 1%;
}

@media (max-width: 768px) {
    .navbar .container {
        padding-bottom: 1%;
        padding-left: 0;
        padding-right: 0;
    }
}

.navbar-header {
    margin: 0 auto !important;
    text-align: center;
    width: 100%;
}

.nav-container {
    position: relative;
    float: left;
    margin: 2.5em 0 1.5em;
    min-width: 400px;
    max-width: 40%;
}

.branding {
    width: 100%;
    position: absolute;
    left: 0;
}

.branding a {
    text-decoration: none;
    color: #FFD500;
    text-align: center;
}

.branding a:hover {
    text-decoration: none;
}

.logo a:hover {
    color: #FFD500;
}

a:focus span.fore {
    color: #FFD500;
}

.branding h1 {
    font-weight: 500;
    font-size: 45px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.front {
    color: #E8E6E6;
}

.search {
    color: #E8E6E6;
    float: left;
}

.sb-search {
    margin-top: 0;
}

.sb-search.sb-search-open,
.no-js .sb-search {
    width: 30%;
}

.sb-search-input {
    padding: 5px;
    color: #E8E6E6;
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    background-color: black;
}

.sb-search.sb-search-open .sb-icon-search,
.no-js .sb-search .sb-icon-search {
    background: black;
    color: #FFFFFF;
    z-index: 11;
}

span.sb-icon-search {
    font-size: 14px;
}

.filters {
    color: #E8E6E6;
    float: left;
    left: 10px;
    top: 0;
    width: auto;
}

button#filters {
    background-color: transparent;
    border: none;
    color: #E8E6E6;
    cursor: pointer;
    float: left;
    padding: 0;
    padding-top: 1px;
    font-size: 14px;
}

button#filters:hover,
.sb-icon-search:hover {
    color: #FFFFFF;
}

.filters.open button#filters {
    color: #FFFFFF;
}

.dropdown-menu {
    box-shadow: none;
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0.85);
    font-size: 10px;
    top: 10px;
    left: 10px;
    width: auto;
    min-width: 200px;
    float: none;
    padding: 0;
    padding-bottom: 10px;
    margin: 0;
    z-index: 99999;
}

.dropdown-header {
    padding: 0;
    font-size: 11px;
    color: #E8E6E6;
    font-weight: bold;
}

a.relevance {
    display: none;
}

body.search-results a.relevance {
    display: inherit;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 300;
}

/*projects and group top navigation*/

nav.navbar.navbar-inverse.subnav {
    text-align: center;
    margin: 0 auto;
    background: rgb(36, 35, 35);
    min-height: 33px;
}

.subnav ul {
    margin: 0 auto;
    display: inline-flex;
}

.navbar.subnav li {
    display: table-cell;
    list-style: none;
    text-align: center;
    margin: 0 1px;
}

li .navbutton {
    padding: 9px 20px;
    line-height: 33px;
}

li .navbutton.active,
li .navbutton:hover {
    background-color: rgba(232, 230, 230, 1);
    color: #000;
}

/*content*/

.item.col-md-6,
.item.col-md-12 {
    padding: 0;
}

.postmeta {
    padding: 0 0 10px 0;
    display: inline-block;
    width: 100%;
}

.likes {
    text-align: left;
    padding: 0;
}

.date {
    text-align: right;
    padding: 0;
}

.likes button.btn {
    color: #E8E6E6;
    background-color: transparent;
    border: none;
    padding: 0;
    font-size: inherit;
}

.likes button.btn i:hover {
    color: #FFD500;
}

span.author,
span.organization {
    font-size: 20px;
    width: auto;
    float: left;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    font-weight: 400;
    margin-top: 10px;
}

span.organization {
    float: right;
    text-align: right;
}

h3.project-title {
    padding: 10px 0;
    border-bottom: 1px solid #FED501;
    border-top: 1px solid #FED501;
    font-size: 40px;
    margin: 0 auto;
    text-align: center;
}

.carousel-caption h3 a {
    color: #E8E6E6;
    text-decoration: none;
}

.carousel-caption h3 a:hover {
    color: #FFFFFF;
}

.brand-bar .carousel-caption {
    text-align: center;
    margin: 0 auto;
    left: 0 !important;
    right: 0 !important;
    top: 25%;
    font-family: 'Libre Baskerville', Times, "Times New Roman", serif;
    padding: 20px;
}

.brand-bar .carousel-caption h3 {
    border: 0;
    font-size: 42px;
    line-height: 1.72em;
    margin-top: 10px;
    margin-bottom: 20px;
}

.brand-bar .carousel-caption h3 span {
    border: 0;
    font-size: 90px;
    clear: both;
    display: block;
}

/* caption (project title) */

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.7);
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=1, startColorStr="#E6FFFFFF", endColorStr="#E6FFFFFF");
    -ms-filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=1, startColorStr="#E6FFFFFF", endColorStr="#E6FFFFFF");
    padding: 40px;
    top: 30%;
    left: 7%;
    color: #E8E6E6;
    text-shadow: none;
}

.carousel-caption#post2,
.carousel-caption#post5 {
    right: 10%;
    left: inherit;
    top: 10%;
}

.carousel-caption#post3,
.carousel-caption#post6 {
    top: inherit;
    bottom: 10%;
    left: 10%;
}

.carousel-caption#post7,
.carousel-caption#post9 {
    left: inherit;
    right: 10%;
    top: 10%;
}

@media (max-width: 992px) {
    .carousel-caption {
        left: 4.16665%;
    }
}

/*project page*/

body.project h3.project-title {
    border-top: 0;
    padding-top: 0;
    font-size: 37px;
}

body.project h4.excerpt {
    font-size: 16px;
    padding: 10px 0;
    margin: 0 auto;
    margin-bottom: 10px;
    font-weight: 300;
    text-align: justify;
    border-bottom: 1px solid #FED501;
    line-height: 1.35em;
    letter-spacing: 0.035em;
}

body.project .postmeta {
    padding-bottom: 0;
}

body.project p:first-child {
    margin-top: 5%;
}

body.project.project-view p#full_description:first-child:first-letter {
    color: #414141;
    float: left;
    line-height: 96px;
    font-size: 92px;
    padding-top: 2px;
    padding-right: 15px;
    padding-bottom: 0;
    padding-left: 0;
}

body.project p {
    font-family: 'Libre Baskerville', Times, "Times New Roman", serif;
    font-size: 18px;
    color: #414141;
    margin: auto 25% 15px 25%;
    width: 50%;
    line-height: 1.85em;
}

body.project .content {
    background-color: #E8E6E6;
}

.author-row {
    margin-top: 50px;
}

@media (max-width:564px) {
    .author-img-container {
        margin-bottom: 2.5%;
    }
}

.author-img-container {
    border-radius: 50%;
    overflow: hidden;
    height: 68px;
    width: 68px;
    display: inline-block;
    float: left;
    margin-right: 2.5%;
}

body.project .author-info h5 {
    font-size: 20px;
    padding-bottom: 5px;
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
    display: block;
}

.study {
    white-space: nowrap;
}

.author-info h5 a {
    text-decoration: none;
    color: #FFD500;
}

.author-info {
    display: inline-block;
    padding-left: 2.5%;
    width: -webkit-calc(95% + 68px);
    width: calc(95% - 68px);
    float: right;
}

.study,
.organization {
    color: #E8E6E6;
    font-size: 14px;
}
@media (max-width:825px) {
    .author-img-container {
        float: none !important;
        margin: 0 auto !important;
    }
    .author-info {
        float: none !important;
        width: auto;
        margin: 0 auto;
        text-align: left;
        max-width: 150px;
    }
    .study,
    .organization {
        font-size: 13px;
    }
}

body.project .row.imagerow .col-md-4 {
    padding: 0;
    border: 1px solid #E8E6E6;
    margin-top: 40px;
    margin-bottom: 50px;
}

body.project .col-md-12 {
    padding: 0;
}

/*author profile page*/

.author-img-container.profile {
    width: 134px;
    height: 134px;
    /* border: 2px solid rgba(255, 213, 0, 1); */
    border: 2px solid #fff;
}

.profile img.author-image {
    height: 138px;
    width: 138px;
}

.author-name {
    font-size: 27px;
    line-height: 1.65em;
    color: #FED501;
    
}

.current,
.position,
.author-inner {
    font-size: 14px;
    color: #E8E6E6;
    line-height: 1.55em;
    text-align: left;
}

.current {
    display: inline;
    width: 70%;
}

.author-connect a {
    padding-left: 1px;
}

.education {
    font-size: 14px;
    color: #E8E6E6;
    line-height: 1.6em;
    text-align: left;
}

.author-profile hr {
    border-top: 1px solid #FED501;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
}

.contact {
    font-size: 21px;
}

.contact a {
    color: #414141;
}

.contact a:hover {
    color: #000000;
}

body.author-profile .carousel-caption {
    top: 20%;
    padding-top: 34px;
}

body.author-profile .carousel-caption h3 {
    font-size: 34px;
}

.col-centered {
    float: none;
    margin: 0 auto;
    padding-top: 16px;
    padding-bottom: 24px;
    text-align: center;
}

.author-page-container {
    background-color: rgba(0, 0, 0, 1);
    border-bottom: 2px solid #E8E6E6;
}

body.author-profile .author-img-container {
    border-radius: 50%;
    overflow: hidden;
    height: 138px;
    width: 138px;
    display: inline-block;
    float: none;
    margin-right: auto;
    margin: 0 auto;
    position: relative;
    vertical-align: middle;
    top: 5px;
}

.author-profile-info {
    display: inline-block;
    vertical-align: middle;
    /**/
    width: auto;
    text-align: left;
    padding-left: 20px;
}

.author-connect {
    display: inline;
    float: right;
    text-align: right;
    margin-top: 2px;
}

body.author-profile .carousel-caption#project3 {
    left: 40%;
}

.logged-in {
    float: right;
    margin: 2.5em 0 1.5em;
}

@media (max-width: 768px) {
    .logged-in {
        margin: 1.675em 0;
        padding-right: 15px;
    }
}

.edit-project i.glyphicon.glyphicon-cog {
    font-size: 13px;
    font-weight: 100;
    line-height: normal;
    padding-right: 5px;
}

.add-new i.glyphicon.glyphicon-plus {
    font-size: 12px;
    font-weight: 100;
    line-height: normal;
    top: 0;
}

@media (max-width: 992px) {
    .current,
    .position,
    .education {
        font-size: 14px;
    }
}

@media (max-width: 767px) {
    .current,
    .position,
    .education {
        font-size: 13px;
    }
    body.author-profile .carousel-caption#project3 {
        left: 4.16665%;
    }
}

@media (max-width: 592px) {
    body.author-profile .carousel-caption {
        left: 4.6667%;
        right: 0;
        top: 8%;
        padding: 18px 21px 22px 21px;
    }
    body.author-profile .postmeta {
        padding: 0;
    }
    .author-profile .item {
        min-height: 200px;
    }
}

@media (max-width: 416px) {
    .current,
    .position,
    .education {
        font-size: 11px;
    }
    .author-connect {
        font-size: 11px;
        line-height: 24px;
    }
    .author-name {
        font-size: 23px;
    }
}

@media (max-width: 416px) {
    .author-profile-info {
        padding-left: 0;
    }
    .current,
    .position,
    .education {
        font-size: 11px;
        text-align: center;
        display: block;
        margin: 0 auto;
    }
    .author-connect {
        font-size: 11px;
        line-height: 19px;
        display: block;
        margin: 0 auto;
        margin-top: 5px;
        float: none;
        text-align: center;
    }
    .author-name {
        font-size: 23px;
        text-align: center;
    }
    .author-profile .profile img.author-image {
        height: 100%;
        width: 100%;
    }
}

/*search results page */

body.search-results {
    background-color: #E8E6E6;
}

.search-top-container {
    float: left;
    width: 100%;
    margin: 20px 0;
}

.search-results-content {
    background-color: #E8E6E6;
}

.search-form {
    display: inline-block;
    float: right;
    margin-bottom: 20px;
    border-bottom: 1px solid #414141;
}

.search-form form {
    position: relative;
}

.search-form input[type="text"] {
    padding: 5px;
    background-color: transparent;
    border: 0;
    font-size: 12px;
}

.search-form span.sb-icon-search {
    position: relative;
    display: inline;
    padding: 10px;
    background-color: transparent;
    color: black;
}

.search-form span.sb-icon-search:hover {
    color: #FFFFFF;
}

.results-count {
    font-size: 12px;
    font-style: italic;
    display: inline;
    padding-bottom: 5px;
    border-bottom: 1px solid #414141;
}

img.thumbnail-image {
    max-width: 100%;
}

.search-results-content .postmeta {
    padding: 0;
}

.search-results .postmeta {
    padding: 0 0 10px 0;
}

.search-results hr {
    border-top: 1px solid #414141;
}

body.search-results h3.project-title {
    padding: 0;
    border: 0;
    font-size: 24px;
    margin: 0;
}

body.search-results h3.project-title a {
    color: #414141;
}

body.search-results h3.project-title a:hover {
    color: #000000;
}

h3.project-title a:hover {
    color: #FFFFFF;
}

.search-results h4.excerpt {
    border-bottom: 0;
    padding: 0;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 1.267em;
}

.search-results span.author,
.search-results span.organization {
    color: #414141;
    font-size: 15px;
}

/* .search-results .row.result {
    margin-bottom: 30px;
} */

.search-results hr {
    border-top: 1px solid #414141;
    margin-top: 0;
}

.search-results .container.main {
    margin-bottom: 30px;
}

body.search-results .likes button.btn {
    color: #414141;
    display: inline;
    vertical-align: top;
}

body.search-results .likes button.btn i:hover {
    color: #FFD500;
}

.tooltip-inner {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 0;
}

.tooltip.top .tooltip-arrow {
    border-top-color: rgba(0, 0, 0, 0.7);
}

i.glyphicon.glyphicon-heart {
    padding-right: 4px;
    top: 2px;
}

/*sharing*/

.st-btn[data-network="blogger"],
.st-btn[data-network="delicious"],
.st-btn[data-network="digg"],
.st-btn[data-network="flipboard"],
.st-btn[data-network="livejournal"],
.st-btn[data-network="mailru"],
.st-btn[data-network="meneame"],
.st-btn[data-network="odnoklassniki"],
.st-btn[data-network="stumbleupon"],
.st-btn[data-network="vk"],
.st-btn[data-network="weibo"],
.st-btn[data-network="xing"] {
    display: none !important;
}

.st-btn[data-network='sharethis'] {
    background-color: transparent !important;
    height: 10px;
}

.sharethis-inline-share-buttons.st-inline-share-buttons.st-left.st-animated {
    display: inline-block !important;
    position: relative;
    top: 3px;
}

.st-btn>svg {
    width: 14px;
    height: 14px;
}

.st-btn svg {
    fill: #E8E6E6 !important;
    height: 14px !important;
    width: 14px !important;
}

@media (max-width: 768px) {
    .sharethis-inline-share-buttons.st-inline-share-buttons.st-left.st-animated {
        top: 0;
    }
}

.st-btn>svg {
    top: 2px !important;
}

.st-btn {
    cursor: pointer;
}

.st-logo {
    display: none !important;
}

.st-btns {
    overflow: visible !important;
}

.st-close {
    background: transparent !important;
}

.st-btn svg {
    fill: #E8E6E6 !important;
}

.st-btn:hover {
    top: 0 !important;
    opacity: 1.0 !important;
}

.st-btn>svg:hover {
    fill: #ffffff !important;
}

/*footer*/

/* footer {
    background-color: #000;
    text-align: center;
    color: #E8E6E6;
    font-size: 10px;
    padding: 1.5% 0;
    border-top: 1px solid #ffffff;
    float: left;
    width: 100%;
    position: fixed;
    bottom:0;
    z-index:9999;
} */

footer {

    background-color: #000;

    text-align: center;

    color: #E8E6E6;

    font-size: 13px;

    /* padding: 1.5% 0; */

    border-top: 1px solid #ffffff;

    float: left;

    width: 100%;

    position: fixed;

    bottom: 0;

    z-index: 9999;

    height: 50px;

    line-height: 50px;

}

.common_cls {
    height: 100%;
    position: absolute;
    width: 100%;
    background: #fff;
    padding: 30px;
} 
   
/*lightbox*/

@media all {
    .featherlight {
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 2147483647;
        text-align: center;
        white-space: nowrap;
        cursor: pointer;
        background: #333;
        background: rgba(0, 0, 0, 0)
    }
    .featherlight:last-of-type {
        background: rgba(0, 0, 0, .8)
    }
    .featherlight:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle
    }
    .featherlight .featherlight-content {
        position: relative;
        text-align: left;
        vertical-align: middle;
        display: inline-block;
        overflow: auto;
        padding: 25px 25px 0;
        border-bottom: 25px solid transparent;
        margin-left: 5%;
        margin-right: 5%;
        max-height: 95%;
        background: #fff;
        cursor: auto;
        white-space: normal
    }
    .featherlight .featherlight-inner {
        display: block
    }
    .featherlight .featherlight-close-icon {
        position: absolute;
        z-index: 9999;
        top: 0;
        right: 0;
        line-height: 25px;
        width: 25px;
        cursor: pointer;
        text-align: center;
        font-family: Arial, sans-serif;
        background: #fff;
        background: rgba(255, 255, 255, .3);
        color: #000;
        border: 0;
        padding: 0
    }
    .featherlight .featherlight-close-icon::-moz-focus-inner {
        border: 0;
        padding: 0
    }
    .featherlight .featherlight-image {
        width: 100%
    }
    .featherlight-iframe .featherlight-content {
        border-bottom: 0;
        padding: 0;
        -webkit-overflow-scrolling: touch;
        overflow-y: scroll
    }
    .featherlight iframe {
        border: 0
    }
    .featherlight * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box
    }
}

@media only screen and (max-width:1024px) {
    .featherlight .featherlight-content {
        margin-left: 0;
        margin-right: 0;
        max-height: 98%;
        padding: 10px 10px 0;
        border-bottom: 10px solid transparent
    }
}

@media all {
    .lightbox {
        display: none;
    }
}

.featherlight h2 {
    text-align: center;
}

.featherlight img {
    max-width: 100%;
}

.inline {
    display: none
}

.featherlight .legend {
    position: relative;
    bottom: 0;
    font-size: larger;
    color: black;
    width: 100%;
    text-align: center;
    margin-top: 5px;
    display: block;
}

span.featherlight-previous {
    top: 50%;
    float: left;
    cursor: pointer;
    position: absolute;
    background-color: transparent;
}

span.featherlight-next {
    top: 50%;
    cursor: pointer;
    position: absolute;
    right: 10px;
    background-color: transparent;
}

.author-img-container a:hover .author-image {
    opacity: 0.5;
}

/*.author-img-container.main a:hover .author-image {
  display: block;
}*/

.author-img-container a:hover .s14imageItemtitle {
    visibility: visible;
    height: 50px;
    position: absolute;
    top: 3px;
    width: 50px;
    font-family: serif;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50px;
    padding: 10px 0 0 0;
    color: black;
    opacity: 0.8;
}

/* upload page */
.container-fluid.upload-page-container {
    background-color: rgb(245, 245, 245);
}
form.upload {
    max-width: 668px;
    margin: 0 auto;
    text-align: center
}
.upload-form-content {
    padding: 10px 52px 33px 52px;
}
.upload-form-content h2 {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto 13px auto;
}
.upload-form-content input,
.upload-form-content button,
.upload-form-content textarea {
    width: 100%;
    padding: 5px 8px;
    margin-bottom: 13px;
    border-radius: 3px;
    border: solid rgba(0, 0, 0, 1) 0px;
    border-radius: 3px;
    transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
}
.upload-form-content input,
.upload-form-content textarea {
    background-color: rgba(255, 255, 255, 1);
    border: solid rgba(232, 230, 230, 1) 1px;
    text-align: left;
}
.upload-form-content button {
    background-color: rgba(153, 153, 151, 1);
    color: white;
    max-width: 284px;
    display: block;
    text-align: center;
    margin: 13px auto;
}
.upload-form-content button:hover {
    background-color: rgba(65, 65, 65, 1);
    border-color: transparent;
}
.forefront-upload-button-container {
    position: absolute;
    right: 80px;
    /* bottom: 20px;*/
    bottom: 66px;
    background-color: rgba(36, 35, 35, 1);
}
.forefront-upload-button {
    /* color: white;
    background-color: rgba(36, 35, 35, 1);
    margin-left: 10px;
    transition: background-color .7s ease; */
    background-color: #414141;
    border: None;
    border-radius: 7px;
    padding-left: 10px;
    color: #ffffff;
}
.forefront-upload-button-container .forefront-upload-button:first-child {
    margin-right: 15px;
}
.forefront-upload-button:hover {
    color: #ffffff;
}
/* .forefront-upload-button:hover {
    background-color: #FFD500;
} */

button.login_submit a,
button.login_submit a:focus,
button.login_submit a:hover,
button.login_submit a:visited {
    color: white;
}

.upload-form-content input::placeholder,
.upload-form-content textarea::placeholder {
    color: #C7C7C7;
}

.form-group .input-group-btn {
    float: left;
    margin: 13px auto 0 auto;
    text-align: center;
    width: 100% !important;
}

.form-group .btn.btn-primary.btn-file {
    position: relative;
    margin: 0 auto;
    max-width: 284px;
    min-width: 284px;
}

.form-control.file-caption.kv-fileinput-caption {
    border-radius: 3px;
    box-shadow: none;
    border: solid rgba(232, 230, 230, 1) 1px;
}

.bootstrap-tagsinput input {
    margin-bottom: 0;
    border: none;
    width: auto;
    min-width: 50%;
    max-width: 100%;
}

.bootstrap-tagsinput .tag {
    margin-right: 2px;
    color: white;
    background-color: rgba(153, 153, 151, 1);
    border-radius: 3px;
}

a.btn.btn-default.fileinput-upload.fileinput-upload-button {
    display: none;
}

.input-group-btn button.btn.btn-default.fileinput-remove.fileinput-remove-button {
    margin-left: 0;
    width: 284px;
    margin: 0 auto;
    margin-bottom: 13px;
    padding: 7px;
    line-height: 20px;
    border-radius: 3px !important;
    background-color: rgba(153, 153, 151, 1);
    color: white;
}

button.btn.btn-default.fileinput-remove.fileinput-remove-button:hover {
    background-color: rgba(65, 65, 65, 1);
}

.btn-file input[type=file] {
    background-color: rgba(153, 153, 151, 1);
}

button.kv-file-remove.btn.btn-xs.btn-default {
    display: inline-block;
    background-color: white;
    color: rgba(153, 153, 151, 1);
    margin: 0;
}

button.kv-file-upload.btn.btn-xs.btn-default .text-info {
    color: rgba(153, 153, 151, 1);
}

button.kv-file-remove.btn.btn-xs.btn-default,
button.kv-file-upload.btn.btn-xs.btn-default {
    margin: 0 auto;
    width: auto;
}

button.kv-file-upload.btn.btn-xs.btn-default {
    max-width: 30%;
    background-color: white;
    color: rgba(153, 153, 151, 1);
    margin: auto;
    text-align: center;
    float: left;
}

button.kv-file-zoom.btn.btn-xs.btn-default {
    display: none;
}

.krajee-default .file-upload-indicator {
    background-color: transparent;
    border: none;
    padding: 3px 10px 3px 10px;
    color: rgba(153, 153, 151, 1);
}

.file-upload-indicator .text-warning {
    color: rgba(153, 153, 151, 1);
}

button.kv-file-remove.btn.btn-xs.btn-default .text-danger {
    color: rgba(153, 153, 151, 1);
}

div#remainingChars,
div#remainingChars2,
div#remainingChars3 {
    font-size: 10px;
    margin-bottom: 13px;
    color: #c7c7c7;
}

.bootstrap-tagsinput input {
    margin-bottom: 0;
    border: none;
    width: auto;
    min-width: 50%;
    display: inline;
    position: relative;
}

img.file-preview-image.kv-preview-data {
    max-width: 100%;
    overflow: hidden;
}

.form-control.file-caption.kv-fileinput-caption {
    display: none;
}

/*create account and login page*/

.container-fluid.login-page-container {
    background-color: #E8E6E6;
    min-height: 500px;
}

.login-form-container {
    width: 388px;
    margin: 52px auto;
    border: 1px solid rgba(199, 199, 199, 1);
    background-color: rgba(245, 245, 245, 1);
    border-radius: 0;
}

@media (max-width: 475px) {
    .login-form-container {
        width: 98%;
    }
}

.login-form-content {
    padding: 33px 52px;
}

.login-form-content h2 {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto 13px auto;
}

.login-form-content input,
.login-form-content button {
    width: 100%;
    padding: 5px 8px;
    margin-bottom: 13px;
    border-radius: 3px;
    border: solid rgba(0, 0, 0, 1) 0px;
    border-radius: 3px;
    transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
}

.login-form-content button {
    background-color: rgba(153, 153, 151, 1);
    color: white;
}

.login-form-content button:hover {
    background-color: rgba(65, 65, 65, 1);
    border-color: transparent;
}

button.login_submit a,
button.login_submit a:focus,
button.login_submit a:hover,
button.login_submit a:visited {
    color: white;
}

.login-form-content input {
    border: solid rgba(232, 230, 230, 1) 1px
}

.login-form-content input::placeholder {
    color: #C7C7C7;
}

.login-page hr {
    border-bottom: 1px solid rgba(199, 199, 199, 1);
    margin: 0 auto 13px auto;
}

/*responsive adjustments*/

@media (max-width: 1100px) {
    .carousel-caption {
        top: 5%;
    }
    body.project p {
        width: 60%;
        margin: auto 20% 15px 20%;
    }
    .nav-container {
        margin: 2.5em 0 1.5em;
        width: 50%;
    }
    span.sb-icon-search {
        font-size: 12px;
    }
    button#filters {
        font-size: 12px;
        padding-top: 2px;
    }
}

@media (max-width: 992px) {
    h4.excerpt {
        font-size: 16px;
    }
    body.author-profile .carousel-caption h3 {
        font-size: 24px;
    }
    body.author-profile h4.excerpt {
        font-size: 18px;
    }
    .brand-bar .carousel-caption {
        top: 16%;
    }
    .sb-search.sb-search-open,
    .no-js .sb-search {
        width: 24%;
    }
}

@media (max-width: 768px) {
    body.project .carousel-caption {
        top: 5%;
        left: 0;
        padding: 30px;
    }
    .brand-bar .carousel-caption h1 {
        line-height: 1.5em;
    }
    .carousel-caption h3 {
        font-size: 27px;
    }
    h4.excerpt {
        font-size: 12px;
        margin-bottom: 10px;
        padding-bottom: 10px;
        margin-top: 5px;
    }
    body.author-profile .carousel-caption h3.project-title {
        font-size: 20px;
    }
    body.author-profile h4.excerpt {
        font-size: 14px;
        line-height: 1.15em;
    }
    .branding h1 {
        font-size: 25px;
    }
    .nav-container {
        margin: 1.75em 0 15px;
        padding-left: 15px;
    }
    .dropdown-menu .col-xs-6 {
        width: auto;
    }
    .filters {
        min-width: 200px;
    }
    .search-results .postmeta {
        padding: 10px 0;
    }
    body.search-results h3.project-title {
        font-size: 20px;
        margin: 10px 0;
    }
    .search-results h4.excerpt {
        font-size: 16px;
    }
}

@media (max-width: 768px) {}

@media (max-width: 592px) {
    /*.sb-search.sb-search-open, .no-js .sb-search {
width: 40%;
}*/
    body.project .container {
        padding: 0;
    }
    body.project .carousel-caption {
        left: 0;
        right: 0;
        margin-bottom: 5px;
        background-color: rgba(0, 0, 0, 1.0);
        top: inherit;
        position: relative;
    }
    .carousel-caption h3 {
        font-size: 16px;
        padding: 10px 0;
    }
    .brand-bar .carousel-caption h3 {
        font-size: 2em;
        margin: 5px 0 10px 0;
    }
    .brand-bar .carousel-caption h3 span {
        font-size: 2.25em;
    }
    span.author,
    span.organization,
    .search-results span.author,
    .search-results span.organization {
        font-size: 12px;
    }
    .postmeta {
        font-size: 10px;
    }
    body.project p {
        margin: auto 5% auto 5%;
        width: 90%;
    }
    .dropdown-menu {
        box-shadow: none;
        border-radius: 0;
        background-color: black;
        font-size: 10px;
        top: 20px;
        width: auto;
        float: left;
        position: absolute;
        padding: 5px;
        margin: 0;
    }
    .filters {
        float: none;
    }
    .author-img-container.profile {
        width: 100px;
        height: 100px;
        margin-bottom: 4px;
    }
    body.author-profile .carousel-caption h3.project-title {
        font-size: 16px;
    }
    body.author-profile h4.excerpt {
        font-size: 13px;
    }
    .carousel-caption {
        padding: 20px;
    }
    .carousel-caption,
    .carousel-caption#post3,
    .carousel-caption#post5 {
        top: 10%;
        left: 10%;
        right: 10%;
        bottom: auto;
    }
}

@media (max-width: 475px) {
    .brand-bar .carousel-caption h3 {
        font-size: 1em;
    }
    body.index .item {
        max-height: 200px;
        overflow: hidden;
    }
    i.glyphicon.glyphicon-heart {
        padding-right: 4px;
        top: 1px;
    }
}

/*end mobile*/

/*project page additions*/

/*bottom author section*/

.author-row {
    margin-top: 50px;
    padding-top: 15px;
    background-color: rgba(36, 35, 35, 1);
    ;
}

/*bottom citations*/

.citations {
    border-top: 1px solid #ffffff;
    background-color: rgba(36, 35, 35, 1);
    padding: 15px 0 10px 0;
    color: #E8E6E6;
}

/*group heading*/

.group-page-container {
    background-color: rgba(36, 35, 35, 1);
    border-bottom: 1px solid #E8E6E6;
}

.col-lg-10.group-header {
    text-align: center;
    margin: 0 auto;
    float: none;
    /* background-color: gray; */
}

.group-heading {
    max-width: 635px;
    margin: 0 auto;
    padding: 20px 0;
}

h2.group-title {
    font-weight: 600;
    font-size: 30px;
    /* color: #fff; */
    color: #E8E6E6;
    line-height: normal;
    margin: 0 auto;
    padding: 0;
}

h3.institution {
    font-size: 20px;
    color: #E8E6E6;
    margin: 0 auto;
    line-height: normal;
}

hr.group-header {
    border-top: 1px solid rgba(255, 213, 0, 1);
    width: 100%;
}

.group-heading h4.excerpt {
    color: #E8E6E6;
    /* font-size: 16px; */
    font-size: 14px;
    text-align: justify;
    line-height: normal;
}

/*group lead*/

.group-lead .contributor-inner {
    width: 700px;
    text-align: center;
    margin: 0 auto;
    display: inline-block;
}

.group-lead .author-profile-info {
    min-width: 75%;
}

.group-lead .group.author-img-container {
    border-radius: 50%;
    overflow: hidden;
    height: 138px;
    width: 138px;
    display: inline-block;
    float: none;
    margin-right: auto;
    margin: 0 auto;
    position: relative;
    vertical-align: middle;
    top: 5px;
}

.col-lg-12.group-lead {
    background-color: rgba(36, 35, 35, 1);
    padding: 0;
}

.group-lead .contributor-container {
    border-bottom: none;
    margin: 0 auto;
    padding: 10px 0 40px 0;
}

.group-lead .author-profile-info {
    width: 70%;
    display: table-cell;
    float: unset;
}

.inlinegroup {
    position: relative;
    width: 100%;
}

.group-lead .position {
    margin-bottom: 0;
}

.group-lead p {
    margin: 0;
    line-height: 1.45em;
}

.group-lead-details {
    margin-top: 10px;
    font-weight: 100;
    color: #E8E6E6;
    /* width: 75%; */
}

.group-lead-connect {
    /* width: 25%; */
    position: absolute;
    bottom: 2px;
    right: 0;
    text-align: right;
}

.group-lead-connect.author-connect img {
    vertical-align: bottom;
    margin: 0;
}

.group-lead-connect.author-connect .glyphicon {
    vertical-align: bottom;
    line-height: normal;
    top: 0;
}

.groups .st-btn.st-first.st-last {
    height: 22px !important;
}

@media (min-width: 1000px) {
    .group-lead .group.author-img-container {
        display: inline-block;
        float: left;
    }
}

@media (max-width: 1000px) {
    .group-lead .contributor-inner {
        width: 100%;
        display: inline-table;
    }
    .group-lead .author-profile-info {
        width: 74%;
        display: inline-block;
        float: unset;
    }
    .contributors-rows .contributor-container .author-profile-info {
        max-width: 70%;
    }
}

@media (max-width: 700px) {
    .contributors-rows .contributor-container .author-profile-info {
        max-width: 70%;
    }
    .contributor-inner {
        padding: 10px 20px 10px 20px;
    }
    .contributors-rows .group.author-img-container {
        max-width: 30%;
    }
}

/*carousel*/

div#jumboCarousel {
    min-height: 600px;
    width: auto;
}

#jumboCarousel .item img {
    min-height: 600px;
    width: auto;
    min-width: auto;
}

#jumboCarousel>.carousel-indicators>li {
    border-radius: 6px;
    width: 6px;
    background-color: rgba(232, 230, 230, 1);
    margin-right: 6px;
    margin-left: 6px;
    height: 6px;
}

#jumboCarousel>.carousel-indicators>.active {
    background-color: rgba(255, 255, 255, 0.3);
    border: none;
}

.carousel-control-next,
.carousel-control-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 20px;
    color: #fff;
    text-align: center;
}

a.carousel-control-prev {
    left: 100px;
}

a.carousel-control-next {
    right: 100px;
}

svg.prev,
svg.next {
    width: 100px;
    fill: rgba(232, 230, 230, 1);
    stroke: rgba(232, 230, 230, 1);
    stroke-width: 1px;
}

svg.next {
    transform: rotate(180deg);
}

.groups .carousel-caption {
    top: calc(25%);
    left: calc(30%);
    width: 50%;
    max-width: 623px;
    background-color: rgba(0, 0, 0, 0.8);
}

.groups .carousel-caption p {
    padding: 0;
    width: 100%;
    margin: 0 auto;
    font-size: 16px;
    color: #E8E6E6;
    font-family: 'Roboto', sans-serif;
    line-height: 1.25;
    text-align: justify;
}

#jumboCarousel .carousel-caption h1 {
    font-weight: 400;
    font-size: 40px;
    color: #E8E6E6;
    text-align: center;
}

hr.carousel {
    width: 65%;
    border-top: 1px solid rgba(255, 213, 0, 1);
}

/*contributor list*/

.container-fluid.author-page-container.contributors {
    background-color: rgba(36, 35, 35, 1);
    border-bottom: none;
    padding: 0;
    border-top: 2px solid white;
    padding-bottom: 0;
}

section.group.citations.contributions {
    background-color: rgba(36, 35, 35, 1);
    padding: 15px 0 15px 0;
    color: #E8E6E6;
}

.contributor-container {
    display: table;
    margin: 25px auto 20px auto;
    text-align: center;
    width: 100%;
    /* max-width: 700px; */
    vertical-align: top;
    padding: 15px;
    border-bottom: 1px solid white;
    margin-bottom: 0;
}

.contributors-rows .contributor-container .author-profile-info {
    vertical-align: middle;
    width: auto;
    text-align: left;
    padding-left: 0;
    float: left;
    vertical-align: middle;
}

.contributor-inner {
    display: table-caption;
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
}

.contributors-rows .group.author-img-container {
    border-radius: 50%;
    overflow: hidden;
    height: 138px;
    width: 138px;
    float: left !important;
    margin-right: 20px !important;
}

.contributor-name {
    font-size: 16px;
    font-weight: bold;
    color: #FFD500;
    line-height: 1.65em;
}

.contributors .position {
    font-size: 16px;
    color: white;
    margin-bottom: 15px;
}

section.group.citations.contributions {
    border: none;
}

.author-connect img:hover {
    opacity: 1;
}

.author-connect img {
    /* width: 19px; */
    opacity: 0.9;
}

.citations h4 {
    font-weight: 400;
    font-size: 24px;
    color: #FFD500;
    text-align: center;
}

.contributions li {
    color: #E8E6E6;
    font-size: 16px;
    font-weight: 500;
}

.group.citations p {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0;
    color: white;
}

.citations.contributions .col-sm-7.col-sm-offset-3,
.group.citations .col-sm-7.col-sm-offset-3 {
    margin-left: 18%;
    width: 62%;
}

.group.citations.funding p {
    color: rgb(232, 230, 230);
    font-size: 16px;
    font-weight: normal;
}

.contributors-rows .details {
    display: inline;
    width: 70%;
    vertical-align: -webkit-baseline-middle;
    color: #E8E6E6;
    font-weight: 100;
}

.contributors-rows .author-connect img {
    vertical-align: -webkit-baseline-middle;
    margin-top: 0;
}

.item {
    height: 500px;
    max-height: 100vh;
    background-size: cover;
    background-position: center;
}
.project-count:last-child .item {
    margin-bottom: 40px !important;
}

.author-profile .item {
    height: 400px;
}

.project .item {
    height: 800px;
}

.author-profile .item .author {
    display: none;
}

/* author tiles */

.author-inner {
    display: flex;
    max-width: 700px;
    margin: auto;
    justify-content: center;
    align-items: center;
    min-height: 160px;
}

.author-img-container {
    flex: 1;
    min-width: 138px;
    max-width: 138px;
    width: 138px;
}
.author-img-container img.author-image {
  width: 138px;
  height: 138px;
  object-fit: contain;
  background: white;
}

.author-profile-info {
    flex: 1;
    margin-top: 30px;
    margin-bottom: 30px;
}

.forefront-whitespace {
    white-space: pre-line;
}

.forefront-hidden {
    visibility: hidden;
}

.forefront-lab-col {
    max-width: 700px;
    float: none;
    margin: auto;
    text-align: justify;
}
.forefront-lab-col1 {
    float: none;
    margin: auto;
    text-align: justify;
}
.forefront-lab-col1 ol {
    margin:0 2em;
}
.forefront-lab-list-excerpt {
    margin-top: 15px;
    text-align: justify;
}

#navbar-top {
    height: 100px;
    position: fixed;
}
body {
    padding-top: 100px;
}

.subnav ul {
    padding-inline-start: 0px;
}

/* sidebar */
.forefront-sidebar {
    position: fixed;
    right: 0;
    top: 0;
    width: 50px;
    height: 100vh;
    z-index:9999;
    background: rgba(0,0,0,.3);
    transition: .5s width;
}
.forefront-sidebar.expanded {
    width: 300px;
}
.forefront-sidebar nav {
    height: 100%;
}
body {
    /* padding-right: 50px; */
}
.forefront-sidebar nav {
    display: flex;
    align-items: center;
}
.forefront-sidebar ul {
    list-style-type: none;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    height: 350px;
}
.forefront-sidebar ul li {
    flex: 1;
    padding: 0 15px;
    font-size: 20px;
}
#forefrontSidebarContent {
    width: 250px;
    background: white;
    height: 100vh;
    position: absolute;
    top: 0;
    padding: 30px;
    transition: right .5s ease;
    right: -250px;
}
#forefrontSidebarContent.expanded {
    right: 0px;
}
.forefront-sidebar-close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 20px;
    cursor: pointer;
}
#forefrontSidebarContent .btn {
    width: 100%;
}
#forefrontSidebarContent h3 {
    text-align: center;
    margin-bottom: 20px;
    /* font-weight: bold; */
}

.forefront-edit-project-top {
    
}

label.preview-photo-label h3 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 20px;
    color: #666;
}
label.preview-photo-label {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #aaa;
    background-size: cover;
}
input.preview-photo {
    z-index: -1;
}
.project.project-edit .author-row {
    margin-top: 0px !important;
}

/* resume */
.resume-container {
    background-color: rgb(36, 35, 35);
}
h5 {
    color: #FFD500;
    margin: 0;
}
.resume-container h5 {
    margin-top: 10px;
}
/* selected authors style */
.author-inner  .selection {
    color: #414141;
}
.error_area p.error_field:first-child {
    margin:0%;
}
.error_area p.error_field {
    margin: 0;
    width: 100%;
    text-align: justify;
    color: red;
    font-size:14px;
}
.error_area {
    float:left;
    margin-bottom: 10px;
}
/* popup on upload page */
.comment_form select {
    width: 100%;
  }
  .comment_form textarea {
      background-color: #414141;
      border: None;
      border-radius: 7px;
      padding-left: 10px;
      width:100%;
  }
  .comment_form h3 {
    text-align: center;
    padding: 16px 0;
  }

  /* login page */
  .loginpage p:first-child {
    /* width:100%; */
    margin:0 0 20px 0;
    color:red;
  }


  /* blank transparent sidebar */
  #forefrontSidebarSearchContent {
    width: 250px;
    background: white;
    height: 100vh;
    position: absolute;
    top: 0;
    padding: 30px;
    transition: right .5s ease;
    right: -250px;
}
#forefrontSidebarSearchContent.expanded {
    right: 0px;
}
.forefront-sidebar-search-close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 20px;
    cursor: pointer;
}
#forefrontSidebarSearchContent .btn {
    width: 100%;
}
#forefrontSidebarSearchContent h3 {
    text-align: center;
    margin-bottom: 20px;
    /* font-weight: bold; */
}

i.glyphicon {
    cursor: pointer;
}
  

#forefrontSidebarMailContent {
    width: 250px;
    background: white;
    height: 100vh;
    position: absolute;
    top: 0;
    padding: 30px;
    transition: right .5s ease;
    right: -250px;
}
#forefrontSidebarMailContent.expanded {
    right: 0px;
}
.forefront-sidebar-mail-close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 20px;
    cursor: pointer;
}
#forefrontSidebarMailContent .btn {
    width: 100%;
}
#forefrontSidebarMailContent h3 {
    text-align: center;
    margin-bottom: 20px;
    /* font-weight: bold; */
}
#mailid {
  color:black;
  cursor: pointer;
  text-decoration: none;
}

/* edit link on projects listing on home page */
.edit_project_area {
    width: 100%;
    float: left;
}
.edit_text {
    float: right;
}
#authors_area li {
    list-style-type: none;
}
#authors_area li p {
    margin: 0;
}
#authors_area li p span {
    cursor: pointer;
}
.student-remove {
    cursor: pointer;
}
#authors_area ul {
    padding-left:0;
}
#authors_area .single_author p {
    font-family : 'Helvetica', sans-serif;
    font-weight: 500 !important;
    font-size: 14px !important;
}

/* professors dropdown */
#professors_area li {
    list-style-type: none;
}
#professors_area li p {
    margin: 0;
}
#professors_area li p span {
    cursor: pointer;
}
.professor-remove {
    cursor: pointer;
}
.confirm_email_section { 
    min-height:500px;
}
.confirm-email-text{
    color: #e8e6e6 !important;
    font-size: 14px !important;
}
#member_alert input.profile_redirect_btn {
    background-color: #414141;
    border: None;
    border-radius: 7px;
    padding-left: 10px;
}
#member_alert p {
    width:100%;
    margin:0;
    color: #e8e6e6; 
    font-size: 14px !important;
}
.profile_redirect_btn {
    float:right;
}
#back_btn {
    background-color: #414141;
    border: None;
    border-radius: 7px;
    padding-left: 10px;
    color: #ffffff;
    font-size:11px;
    font-weight: 400;
}
.back_btn_outer {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    padding-left: 36px !important;
}
#back_btn span {
    font-size: 14px;
}
.carousel-inner .author-details p:first-child {
    color: #EECE33 !important;
}
select#lab_select {
    background-color: #414141;
    border: None;
    /* border-radius: 7px; */
    padding: 4px 0 0px 5px;
    /* width: 140px; */
    border-radius: 0 !important;
    -webkit-appearance: none;
    -webkit-border-radius: 0px !important;
    background-image: url(images/down-arrow.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 30px;    
    position: relative;
    bottom: 2px;
}
.university_area {
    float: left;
    width: 55%;
}
.position_area {
    width: 100%;
}
.inlinegroup_area {
    float: left;
    width: 100%;
}
.links_area {
    float: right;
    width: 45%;
}
.links_area a {
    /* float: left; */
}
#website_link {
    padding-left: 5px;
    padding-right: 4px;
}

.col-md-12.style_bg {
    border-top: 1px solid #fff;
}
#labTopicSliderCarousel {
    border-top: 2px solid #E8E6E6;
    margin-top: 10px;
}
.exp_records_area {
    margin-left: 21.5%;
}
.exp_record_title {
    margin-bottom:5px;
    margin-left: 21.5%;
}
select#university-name {
    border-radius: 0 !important;
    -webkit-appearance: none;
    -webkit-border-radius: 0px !important;
    background-image: url(images/down-arrow.png) !important;
    background-repeat: no-repeat !important;
    background-position: right !important;
    background-size: 30px !important;
    width: 101px;
    padding: 3px 0 3px 3px;
}
.lab-research-row label i {
    visibility: hidden;
}

.lab-content p.preview-major-contribution {
    margin:0;
}
.publications-preview ol {
    padding-left: 15px;
}
.lab-content p.source_of_funding {
    margin: 0;
}
.lab-content p.preview_source_of_funding {
    /* margin: 0 55px 0 38px; */
    margin: 0;
}
.lab-content p.edit-major-contribution {
    margin-left:38px;
}
.carousel-control.left {
    left: -70px;
} 
.carousel-control.right {
    right: -50px;
}
.ideal_role_style {
    text-align: justify;
}
#lab-publication-add-btn {
    color:#FED501; 
    float:left;
    font-weight: 900; 
    font-size:1.3em;
}


/**************************************/
.search_url {
    color: black;
}
.search_item {
    color: lightgray;
}

@media only screen and (min-width: 768px) {
    /* Only show 3 columns in desktop */
    .custom-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr; 
    }
}


 .row.justify-content-md-center {
    background-color: #020202;
    -webkit-box-pack: center!important;
    -ms-flex-pack: center!important;
    justify-content: center!important;
    display: -webkit-box;
    display: -ms-flexbox;
    /* display: flex; */
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.col-md-4.multiple_img_style {
    padding-left: 0px;
    padding-right: 0px;
}
.col-md-4.multiple_img_style div img{
    width: 100%;
    min-height: 350px;
}

body {
    overflow-x:hidden;
}

#full_description {
    text-align: justify;
}
.img-preview-banner img {
    /*width: 100% !important;*/
    margin-left: auto !IMPORTANT;
    margin-right: auto !IMPORTANT;
    /* display: block !important; */
    /* transform: none !important; */
}
.redirect_url {
    color: #414141 !important;
    /* border-bottom: 1px solid #414141; */
}
.redirect_url:hover {
    color: #000000 !important;
}
.custom_container {
    min-height: 500px;
}
.thumbnail_img_style {
    border-radius: 50%; 
    width:50px; 
    height:45px;
}
/* .row.project-banner-img{height:auto;}

.row.project-banner .img-preview-banner img{
    width:100% !important;
    height:auto !important;
} */
.preview-authors #myCarousel .author-avatar img {
    float: right;
}
a.redirect_url.prof_redirect_url {
    color: #414141 !important;
    font-weight: normal;
}
/* .last-container{margin-bottom:55px}

@media(max-width:1024px)
{
.last-container{margin-bottom:40px}
} */


.wrapper {
    padding-bottom: 50px;
}
.author-name.author-page-name {
    color: #ffffff;
}