.author-container {
    position: relative;
}
.author-create-modal{
    color: white !important;
}

.author-create-modal .modal-content {
    background-color: black;
}

.author-create-modal button.close {
    color: white;
}

.author-create-modal .modal-header {
    padding-bottom: 1px;
    border-bottom: None;
}

.author-create-modal .avatar {
    height: 110px;
    width: 140px;
    border-radius: 50%;
    position: relative;
}
.author-create-modal .avatar label {
    height: 110px;
    width: 110px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    cursor: pointer;
    right:15px;
}
.author-create-modal .avatar img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.author-create-modal input {
    background-color: #414141;
    border: None;
    /* border-radius: 7px; */
    padding-left: 10px;
}

.author-create-modal select {
    background-color: #414141;
    border: None;
    /* border-radius: 7px; */
    padding: 3px 0 3px 10px;
    border-radius: 0 !important;

    -webkit-appearance: none;
    -webkit-border-radius: 0px !important;
    background-image: url(../images/down-arrow.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 30px;    
}

.ideal-role {
    padding-top: 10px !important;
}
.ideal-role label {
    float: left;
}
.ideal-role textarea {
    width: 100%;
    background-color: #414141;
    border: none;
    padding: 10px;
    /* border-radius: 5px; */
}
.edu-list button.item-remove.close {
    opacity: 1 !important;  
    font-size: 14px;
}
hr.hrline {
    margin: 0;
    border: 0.5px solid;
    color: #FED501;
}

.no-left-pad {
    padding-left: 0;
}

.no-right-pad {
    padding-right: 0;
}

.full-width {
    width: 100%;
}

.exp-row .form-group {
    margin-bottom: 15px;
}

.col-md-12 {
    padding-right: 15px !important;
    padding-left: 15px !important;
}
.edu_row {
    color: yellow;
    float: right;
}
.previous_work label
{
    float:left;
    font-weight:normal;
}

.exp-list .exp-row .col-md-12:nth-child(3) .row .col-md-6:nth-child(2) {
    padding-left: 0px;
}