<article id="">
	<div class="item index-item col-md-12"  style="background-image: url('{{ object.image_url }}')">
		<div class="container">
			<div class="carousel-caption col-md-6 col-sm-8 col-xs-11">
				<h3 class="project-title text-capitalize"><a href="{% url 'lab' object.pk %}">{{object.name}}</a></h3>
				<br><h3 class="institution">{{object.university}}</h3>
				<div class="forefront-lab-list-excerpt">
					{{object.excerpt|default:"lab Excerpt"|capfirst }}
				</div>
				{% if request.user == object.owner.user %}
				<div style="text-align: right;margin: 2em 0;padding: 0;">
					<a class="lab_edit_link" href="{% url 'lab_edit' pk=object.pk %}" style="color: #ff0;font-weight: 600;letter-spacing: 1px;">
						Edit
					</a>
				</div>
				{% endif %}
			</div>
		</div>
	</div>

</article>