<div id="{{id}}" class="carousel slide groups" data-ride="carousel">
  <div class="carousel-inner" role="listbox">
    {% for item in list %}
    <div class="item {% if forloop.counter0 == 0 %}active{% endif %}" id="slide{{forloop.counter}}">
      <div style="height: 500px; width: 100%; overflow: hidden;">
        <img src="{{item.image_url}}" alt="" style="width: 100% !important; height: 100%; border-radius: 0 !important;">
      </div>
      <div class="carousel-caption">
        <h1>{{item.name|capfirst}}</h1>
        <hr class="carousel">
        <p class="lead">{{item.excerpt|capfirst}}</p>
      </div>
    </div>
    {% endfor %}
  </div>
  <a class="carousel-control-prev" href="#{{id}}" role="button" data-slide="prev">
    <svg version="1.1" class="prev" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
      x="0px" y="0px" viewBox="0 0 21 41" enable-background="new 0 0 21 41">
      <polygon points="20.3,40.8 0,20.5 20.3,0.2 21,0.9 1.3,20.5 21,40.1 "></polygon>
    </svg>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#{{id}}" role="button" data-slide="next">
    <svg version="1.1" class="next" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
      x="0px" y="0px" viewBox="0 0 21 41" enable-background="new 0 0 21 41">
      <polygon points="20.3,40.8 0,20.5 20.3,0.2 21,0.9 1.3,20.5 21,40.1 "></polygon>
    </svg>
    <span class="sr-only">Next</span>
  </a>
  <ol class="carousel-indicators hidden-xs">
    {% for item in list %}
    <li data-target="#{{id}}" data-slide-to="{{forloop.counter0}}" class="active"></li>
    {% endfor %}
  </ol>
</div>