{% load project_member_comment_tags %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'projects/css/cropper.css' %}">
<style type="text/css">
  .custom-block1 {
    background-color: rgba(0, 0, 0, 0.7);
    color: #E8E6E6;
    padding: 40px;
  }

  #upload-project-photo {
    cursor: pointer;
  }

  .upload-more {
    position: relative;
    height: 400px;
  }

  .upload-more label {
    position: absolute;
    bottom: 0;
    left: 75px;
  }

  .project-banner {
    position: relative;
  }

  .project-banner-img {
    height: 600px;
  }

  .project-banner-img img {
    height: 100%;
    width: 100%;
  }
  {% comment %} .project-banner-img img.banner-image1 {
    width: auto !important;
  } {% endcomment %}


  .project-banner-info {
    position: absolute;
  }

  .upm {
    position: relative;
  }

  .upm-text {
    position: absolute;
  }

  .upm .col-md-4 {
    height: 405px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .upm img {
    height: 100%;
    width: 100%;
  }

  .col-md-12 {
    padding-right: 15px !important;
    padding-left: 15px !important;
  }

  .carousel-inner .item.left.active {
    transform: translateX(-33%);
  }

  .carousel-inner .item.right.active {
    transform: translateX(33%);
  }

  .carousel-inner .item.next {
    transform: translateX(33%)
  }

  .carousel-inner .item.prev {
    transform: translateX(-33%)
  }

  .carousel-inner .item.right,
  .carousel-inner .item.left {
    transform: translateX(0);
  }

  .carousel-control.left,
  .carousel-control.right {
    background-image: none;
    top: 25px;
  }

  .item img {
    width: 70px;
    border-radius: 50%;
  }

  .author-avatar img.img-responsive {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }

  .carousel-inner {
    overflow: initial;
  }

  .carousel-inner p {
    margin-bottom: 0;
    width: initial !important;
    font-family: 'Helvetica', sans-serif !important;
    line-height: initial !important;
    color: white !important;
  }

  .carousel-inner .author-avatar {
    padding-right: 0;
  }

  .preview-authors {
    padding: 20px 0 !important;
    background-color: rgba(36, 35, 35, 1);
  }

  .carousel-inner .item {
    height: initial !important;
    background-color: rgba(36, 35, 35, 1);
  }

  .author-details p {
    margin: 0 0 5px 0 !important;
  }

  .description {
    display: none;
    position: absolute;
  }

  .description .description-text {
    padding: 5px 7px !important;
    background-color: rgb(220, 220, 220);
    position: absolute;
    width: 250px;
    bottom: 10px;
    border-radius: 5px;
  }

  .description .down-arrow {
    position: absolute;
    border: solid transparent;
    border-width: 10px 10px 0;
    border-top-color: rgb(220, 220, 220);
    left: 40px;
    bottom: 0;
  }

  .author-avatar:hover div.description {
    display: block;
  }

  .overwrite {
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: rgba(36, 35, 35, 1);
    z-index: 1000;
  }

  #additional-images .row > div {
    position: relative;
    height: 350px;
    padding: 0;
    border: 1px solid #3e424147 !important;
  }

  #additional-images .row div img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  #additional-images .row div label {
    cursor: pointer;
    position: absolute;
    bottom: 10%;
    right: 50%;
    transform: translate(50%, 0);
  }

  #excerpt{
        position: relative;
    }

  #excerpt.changed::after{
      position: absolute;
      content: attr(data-content);
      right: -3%;
      bottom: 0%;
      color: #EECE33;
  }
  #full_description{
        position: relative;
    }

  #full_description.changed::after{
      position: absolute;
      content: attr(data-content);
      right: -3%;
      bottom: 0%;
      color: #292929;
  }
</style>
<style>
  .img-preview-banner{
    overflow: hidden;
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>
{% endblock %}
{% csrf_token %}
{% comment %} {{ object.authors.all.values.0.first_name }} {% endcomment %}
{% if project_detail_edit %}
<input type="hidden" name="is_edit" value="{{ project_detail_edit.id }}" />
<input type="hidden" name="login_owner_comment" value="{{ login_owner_comment }}" />
{% endif %}
{% if login_owner_id %}
  <input type="hidden" name="login_owner_id" value="{{ login_owner_id }}" />
  <input type="hidden" name="login_owner_first_name" value="{{ login_owner_first_name }}" />
  <input type="hidden" name="login_owner_last_name" value="{{ login_owner_last_name }}" />
{% endif %}
<input type="hidden" name="login_member_info" value="{{ login_member_info }}" />
<form action="" method="post" style="display: none;">
  {% csrf_token %}
  <input type="hidden" name="x_banner" id="x_banner">
  <input type="hidden" name="y_banner" id="y_banner">
  <input type="hidden" name="w_banner" id="w_banner">
  <input type="hidden" name="h_banner" id="h_banner">

  <input type="hidden" name="x_img1" id="x_upm-img1">
  <input type="hidden" name="y_img1" id="y_upm-img1">
  <input type="hidden" name="w_img1" id="w_upm-img1">
  <input type="hidden" name="h_img1" id="h_upm-img1">

  <input type="hidden" name="x_img2" id="x_upm-img2">
  <input type="hidden" name="y_img2" id="y_upm-img2">
  <input type="hidden" name="w_img2" id="w_upm-img2">
  <input type="hidden" name="h_img2" id="h_upm-img2">

  <input type="hidden" name="x_img3" id="x_upm-img3">
  <input type="hidden" name="y_img3" id="y_upm-img3">
  <input type="hidden" name="w_img3" id="w_upm-img3">
  <input type="hidden" name="h_img3" id="h_upm-img3">

</form>
{% if preview %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 back_btn_outer">
      <button class="btn glyphicon glyphicon-chevron-left" id="back_btn"><span>Back</span></button>
    </div>
  </div>
</div>
{% endif %}
<div class="container-fluid" style="background-color: #aaa">

  <div class="row">

    {% if not preview %}
      <div class="col-md-12 project-banner-info" id="parent_banner"  style=" padding-right: 0px !important;padding-left: 0px!important;">
        <img src="{% if project_detail_edit %}{{ project_detail_edit.image.url }}{% else %} {{ object.image_url }} {% endif %}" id="img-final-banner" height="600"  style="width: 100%;">
      </div>
    {% comment %} {% else %}
    <div class="col-md-12 project-banner-info" id="parent_banner"  style=" padding-right: 0px !important;padding-left: 0px!important;">
      <img src="{% if project_detail_edit %}{{ project_detail_edit.image.url }}{% else %} {{ object.image_url }} {% endif %}" alt="" id="banner-image">
    </div> {% endcomment %}
    {% endif %}

    <div class="col-md-12 col-sm-12 col-xs-12 {% if edit %}forefront-edit-project-top{% endif %}">
      <div class="row project-banner">
        <div class="col-md-12">
          <div class="row project-banner-img" style="overflow: hidden;">
            {% comment %} {% if not preview %}
              <div class="img-preview-banner" style="background-image: url({% if project_detail_edit %}{{ project_detail_edit.image.url }}{% else %} {{ object.image_url }} {% endif %});">
                <img src="" alt="banner-image" class="banner-image" id="banner-image" style="display: none;"
                >
              </div> {% endcomment %}
            {% if preview %}
              <img
              src="{% if project_detail_edit %}{{ project_detail_edit.image.url }}{% else %} {{ object.image_url }} {% endif %}"
              alt="" id="banner-image">
            {% endif %}
          </div>
        </div>
        <div class="col-md-12 project-banner-info">
          <div class="row" style="{% if not edit %} display:none {% endif %}">
            <div class="col-md-offset-4 col-md-4" style="text-align: center;padding-top: 20px;">
              <label style="cursor: pointer">
                <h3>upload project banner photo</h3>
                <input type="file" name="banner" class="preview-photo" id="upload-project-photo"
                  style="display: none;" />
              </label>
            </div>
          </div>
          {% if update %}
            <div class="row">
              <div class="col-md-offset-4 col-md-4" style="text-align: center;padding-top: 20px;">
                <label for="upload-project-photo" style="cursor: pointer; background-image: none;">
                  <h3>upload another project banner photo</h3>
                  <input type="file" name="project-photo" class="preview-photo" id="upload-project-photo" style="display: none;" />
                </label>
              </div>
            </div>
          {% endif %}
          <div class="row" style="padding-top: 100px; padding-bottom: 100px">
            <div class="col-md-12">
              <div class="container">
                <div class="row">
                  <div class="col-md-6 col-sm-8 col-xs-12 custom-block1">

                    {% if not edit %}
                    {% if project_detail_edit %}
                    <h3 class="project-title" id="project_title" contenteditable>
                      {{ project_detail_edit.name|default:"project title"}}
                    </h3>
                    {% else %}
                    <h3 class="project-title" id="project_title">
                      {{object.name}}
                    </h3>
                    {% endif %}
                    {% else %}
                    <h3 class="project-title" id="project_title" maxlength="5" contenteditable>
                      {{object.name|default:"project title"}}
                    </h3>
                    {% endif %}
                    {% if not edit %}
                    {% if project_detail_edit %}
                    <h4 class="excerpt" id="excerpt" contenteditable>
                      {{ project_detail_edit.excerpt|default:"brief description of project (100 words max)"}}
                    </h4>
                    {% else %}
                    <h4 class="excerpt" id="excerpt">
                      {{object.excerpt}}
                    </h4>
                    {% endif %}
                    {% else %}
                    <h4 class="excerpt" id="excerpt" contenteditable>
                      {{object.excerpt|default:"brief description of project (100 words max)"}}
                    </h4>
                    {% endif %}
                    <div class="postmeta">
                      <div class="likes col-md-6 col-sm-6 col-xs-6">
                        {% if not edit %}
                        <div class="sharethis-inline-share-buttons"></div>
                        <button type="button" class="btn heart_op" like="1" id="count_1" counter="1"
                          project_id="{{ object.id }}"
                          style="color: {% if user_like == 1 %} #FFD500 {% else %} #E8E6E6 {% endif %}">
                          {% if not update %}
                            <i class="glyphicon glyphicon-heart"></i> <span>{{ object.likes }}</span>
                          {% endif %}
                        </button>
                        {% endif %}
                      </div>
                      {% if not edit %}
                      <div id="project_date" class="date col-md-6 col-sm-6 col-xs-6 col-xs-6">
                        {% if project_detail_edit %}{{ project_detail_edit.created_date }}
                        {% else %}{{ object.created_date }}{% endif %}
                        <!-- todo -->
                      </div>
                      {% else %}
                      <div contenteditable id="project_date" class="date col-md-6 col-sm-6 col-xs-6 col-xs-6">
                        date
                        <!-- todo -->
                      </div>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>
<div class="container-fluid" style="background-color: #E8E6E6">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="project-content" id="post-<?php the_ID();?>">
        {% if not edit %}
          {% if project_detail_edit %}
            <p contenteditable style="min-height: 300px" id="full_description">
              {{project_detail_edit.body|default:"full description of project (500 words max)"}}
            </p>
          {% else %}
            <p id="full_description">{{object.body}}</p>
          {% endif %}
        {% else %}
        <p contenteditable style="min-height: 300px" id="full_description">
          {{object.body|default:"full description of project (500 words max)"}}
        </p>
        {% endif %}
      </div>
    </div>
  </div>
</div>
<div class="container-fluid" style="background-color: #aaa">

        {% if not edit and object.image1 or object.image2 or object.image3 or preview %}
  
      
          <!---<div class="col-md-12 preview_imgs">-->
            <div class="row justify-content-md-center multiple_imgs_row">
              {% if object.image1_url %}
                <div class="col-md-4 multiple_img_style" style="overflow: hidden;">
                    <div class="img-preview-upm-img1" style="overflow: hidden; width: 100%; height: 350px;">
                        <img id="upm-img1" alt="" src="{% if object.image1_url %}{{ object.image1_url }}{% endif %}"/>
                    </div>
                </div>
              {% endif %}
              {% if object.image2_url %}
                <div class="col-md-4 multiple_img_style" style="overflow: hidden;">
                    <div class="img-preview-upm-img2" style="overflow: hidden; width: 100%; height: 350px;">
                        <img id="upm-img2" alt="" src="{% if object.image2_url %}{{ object.image2_url }}{% endif %}"/>
                    </div>
                </div>
              {% endif %}
              {% if object.image3_url %}
              <div class="col-md-4 multiple_img_style" style="overflow: hidden;">
                  <div class="img-preview-upm-img3" style="overflow: hidden; width: 100%; height: 350px;">
                      <img id="upm-img3" alt="" src="{% if object.image3_url %}{{ object.image3_url }}{% endif %}"/>
                  </div>
              </div>
              {% endif %}
            </div>
         <!--- </div>-->
      
    
        {% endif %}
  
        {% if update %}
    <div class="row">
      <div class="col-xs-12" style="height: 350px;">
        <div class="row upm">                
          <div class="col-md-12" id="additional-images">
            <div class="row">
              <div class="col-lg-4 col-md-4 text-center" style="overflow: hidden;">
                <div class="img-preview-upm-img1" style="overflow: hidden; width: 100%; height: 350px;">
                    <img id="upm-img1" alt="" src="{% if project_detail_edit.image1_url %}{{ project_detail_edit.image1_url }}{% endif %}"/>
                </div>
                <!-- <img src="{{ project_detail_edit.image1_url }}" alt="" id="upm-img1"> -->
                <label for="addi-image-1" style="cursor: pointer;">
                  <h3>Upload A Photo</h3>
                  <input type="file" class="image-input" name="upm-img1" id="addi-image-1" style="display: none;">
                </label>
              </div>

              <div class="col-lg-4 col-md-4 text-center" style="overflow: hidden;">
                <div class="img-preview-upm-img2" style="overflow: hidden; width: 100%; height: 350px;">
                    <img id="upm-img2" alt="" src="{% if project_detail_edit.image2_url %}{{ project_detail_edit.image2_url }}{% endif %}"/>
                </div>
                <!-- <img src="{{ project_detail_edit.image2_url }}" alt="" id="upm-img2"> -->
                <label for="addi-image-2" style="cursor: pointer;">
                  <h3>Upload A Photo</h3>
                  <input type="file" class="image-input" name="upm-img2" id="addi-image-2" style="display: none;">
                </label>
              </div>
              <div class="col-lg-4 col-md-4 text-center" style="overflow: hidden;">
                <div class="img-preview-upm-img3" style="overflow: hidden; width: 100%; height: 350px;">
                    <img id="upm-img3" alt="" src="{% if project_detail_edit.image3_url %}{{ project_detail_edit.image3_url }}{% endif %}"/>
                </div>
                <!-- <img src="{{ project_detail_edit.image3_url }}" alt="" id="upm-img3"> -->
                <label for="addi-image-3" style="cursor: pointer;">
                  <h3>Upload A Photo</h3>
                  <input type="file" class="image-input" name="upm-img3" id="addi-image-3" style="display: none;">
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
        {% endif %}

        {% if edit %}

        <!-- for adding additional 3 images different boxes and buttons -->
  <div class="row">
    <div class="col-xs-12" style="height: 350px;">
      <div class="row upm">                          
        <div class="col-md-12" id="additional-images">
          <div class="row">
            <div class="col-lg-4 col-md-4 text-center" style="overflow: hidden;">
              <div class="img-preview-upm-img1" style="overflow: hidden; width: 100%; height: 350px;">
                <img src="" alt="" id="upm-img1" style="display: none;">
              </div>
              <!-- <img src="" alt="" id="upm-img1"> -->
              <label for="addi-image-1" style="cursor: pointer;">
                <h3>Upload A Photo</h3>
                <input type="file" class="image-input" name="upm-img1" id="addi-image-1" style="display: none;">
              </label>
            </div>
            <div class="col-lg-4 col-md-4 text-center" style="overflow: hidden;">
              <div class="img-preview-upm-img2" style="overflow: hidden; width: 100%; height: 350px;">
                <img src="" alt="" id="upm-img2" style="display: none;">
              </div>
              <!-- <img src="" alt="" id="upm-img2"> -->
              <label for="addi-image-2" style="cursor: pointer;">
                <h3>Upload A Photo</h3>
                <input type="file" class="image-input" name="upm-img2" id="addi-image-2" style="display: none;">
              </label>
            </div>
            <div class="col-lg-4 col-md-4 text-center" style="overflow: hidden;">
              <div class="img-preview-upm-img3" style="overflow: hidden; width: 100%; height: 350px;">
                <img src="" alt="" id="upm-img3" style="display: none;">
              </div>
              <!-- <img src="" alt="" id="upm-img3"> -->
              <label for="addi-image-3" style="cursor: pointer;">
                <h3>Upload A Photo</h3>
                <input type="file" class="image-input" name="upm-img3" id="addi-image-3" style="display: none;">
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
        {% endif %}
      {% comment %} </div>
    </div>
  </div> {% endcomment %}

  {% if not edit %}
  {% if project_detail_edit %}
  <div class="row">
    <div class="author-row">
      <div class="author-container">
        <div class="author-inner">
          <div class="col-xs-12 align-center">
            <div class="col-xs-10 col-xs-offset-2" id="authors_area">
              <ul>
                {% for single_author in project_detail_edit.authors.all %}
                <li class="single_author">
                  <p style="color: #e6e4d9;">
                    <span class="author-remove glyphicon glyphicon-remove" project_id="{{ project_detail_edit.id }}" author_id="{{ single_author.id }}" first_name="{{ single_author.first_name }}"
                      last_name="{{ single_author.last_name }}" image="{{ single_author.image }}"
                      comment="{% get_comment single_author.id project_detail_edit.id %}" style="color: #FED501;font-size: .8em; margin-right: 10px;">
                    </span>{{ single_author.first_name }} {{ single_author.last_name }}</p>
                </li>
                {% endfor %}
              </ul>
          
            </div>
          </div>
        </div>
      </div>
      {% for author in object.authors.all %}
      {% include "projects/_profile.html" with object=author %}
      {% empty %}
      {% include "projects/_profile.html" with edit=True select=True %}
      {% endfor %}
      <div class="author-container">
        <div class="author-inner" style="justify-content: flex-start !important; width:100%;">
            <a style="color: #FED501" href="#" id="add_author" data-toggle="modal" data-target="#myModal">+ Add/Update
              Authors Contribution</a>
        </div>
        <div class="forefront-upload-button-container">
          <button id="preview-btn" class="btn forefront-upload-button">Preview</button>
          <button id="publish-btn" class="btn forefront-upload-button">Update</button>
        </div>
      </div>
    </div>
  </div>
  {% else %}
  <div class="row">
    <div class="col-md-12 preview-authors heree">
      {% comment %} <div class="col-md-offset-2 col-md-8"> {% endcomment %}
        <div class="col-md-2 overwrite"></div>
        <div class=" col-md-offset-2  col-md-8">
          <div class="carousel slide" id="myCarousel">
            <div class="carousel-inner">
              {% if project_page %}

              {% for author in authors_arr %}


              <div class="item">
                <div class="col-md-4">
                  <div class="row">
                    <div class="col-md-4 author-avatar">

                      <div class="row description">
                        {% if author.contribution  %}
                        <div class="col-md-12 description-text"> {{ author.contribution }}</div>

                        <div class="down-arrow"></div>
                        {% endif %}
                      </div>
                      {% if author.image_url %}
                      <img src="{{ author.image_url }}" class="img-responsive" />
                      {% else %}
                      <img src="http://placehold.it/500/bbbbbb/fff&amp;text=img" class="img-responsive" />
                      {% endif %}

                    </div>

                    <div class="col-md-8 author-details">
                      {% if author.first_name %}<p style="font-size:16px; color:#FED501;"><a
                          href="{% url 'author' author.id %}" style="color:#FED501;">{{ author.first_name }}
                          {{ author.last_name }}</a></p>{% endif %}
                      {% if author.position %}<p style="font-size:15px">{{ author.position }}</p>{% endif %}
                      {% if author.university.name %}<p style="font-size:15px">{{ author.university.name }}</p>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>

              {% endfor %}
              {% else %}
              {% for author in authors_arr %}
              <div class="item">
                <div class="col-md-4">
                  <div class="row">
                    <div class="col-md-4 author-avatar">

                      <div class="row description">
                        {% if author.contribution  %}
                        <div class="col-md-12 description-text"> {{ author.contribution }}</div>

                        <div class="down-arrow"></div>
                        {% endif %}
                      </div>
                      {% if author.image %}
                      <img src="{{ author.image }}" class="img-responsive" />
                      {% else %}

                      <img src="http://placehold.it/500/bbbbbb/fff&amp;text=img" class="img-responsive"
                        dd="{{ author.image }}" />
                      {% endif %}

                    </div>
                    <div class="col-md-8 author-details">
                      {% if author.first_name %}<p style="font-size:16px; color:#EECE33">{{ author.first_name }} {{ author.last_name }}
                      </p>{% endif %}
                      {% if author.position %}<p style="font-size:15px">{{ author.position }}</p>{% endif %}
                      {% if author.university.name %}<p style="font-size:15px">{{ author.university.name }}</p>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
              {% endif %}

            </div>
            <a class="left carousel-control" href="#myCarousel" data-slide="prev"><i
                class="glyphicon glyphicon-chevron-left"></i></a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next"><i
                class="glyphicon glyphicon-chevron-right"></i></a>
          </div>
        </div>
        <div class="col-md-2 overwrite" style="right: 0"></div>
      </div>
    </div>
    {% endif %}

    {% else %}

    <div class="row">
      <div class="author-row">
        {% for author in object.authors.all %}
        {% include "projects/_profile.html" with object=author %}
        {% empty %}
        {% include "projects/_profile.html" with edit=True select=True %}
        {% endfor %}
        {% if edit %}
        <div class="author-container">
          <div class="author-inner" style="width:100%;">
            <div class="col-xs-12 align-center">
              <a style="color: #FFD500" href="#" id="add_author" data-toggle="modal" data-target="#myModal">+ Add
                Authors Contribution</a>
            </div>
          </div>
          <div class="forefront-upload-button-container">
            <button id="preview-btn" class="btn forefront-upload-button">Preview</button>
            <button id="publish-btn" class="btn forefront-upload-button">Publish</button>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
    
  </div>
  {% endif %}
</div>
  <div id="myModal" class="modal fade author-create-modal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            {% include 'projects/author_form.html' with members=members %}
          </div>
        </div>
      </div>
    </div>
  </div>


  <div id="member_alert" class="modal fade author-create-modal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          You will be redirected to your profile page. Please fill details there first.
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            <input type="button" class="profile_redirect_btn" value="Ok">
          </div>
        </div>
      </div>
    </div>
  </div>  

  

<!-- img-MODAL -->
<div class="modal bd-example-modal-lg" id="divModal" tabindex="-1" role="dialog" aria-labelledby="Crop Image Here" aria-hidden="true"  data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Crop Image</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
          <img src="" style="width: 100% !important; max-height: 500px;object-fit: cover;" id="imgModal">
        </div>
      </div>
      <div class="modal-footer" style="display: flex;justify-content: space-between;">
        <div>
          <button id="img-crop-zoom-out" class="btn btn-secondary"><span class="glyphicon glyphicon-minus" style="color: #000;"></span></button>
          <button id="img-crop-zoom-in" class="btn btn-secondary"><span class="glyphicon glyphicon-plus" style="color: #000;"></span></button>
        </div>
        <div style="margin: 0 20px;">
            <button id="img-crop-left" class="btn btn-secondary"><span class="glyphicon glyphicon-arrow-left" style="color: #000;"></span></button>
            <button id="img-crop-right" class="btn btn-secondary"><span class="glyphicon glyphicon-arrow-right" style="color: #000;"></span></button>
            <button id="img-crop-up" class="btn btn-secondary"><span class="glyphicon glyphicon-arrow-up" style="color: #000;"></span></button>
            <button id="img-crop-down" class="btn btn-secondary"><span class="glyphicon glyphicon-arrow-down" style="color: #000;"></span></button>
        </div>
        <div>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="ImgCropBtn">Save changes</button>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>