{% load static %}
{% comment %} <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script> {% endcomment %}
{% comment %} <script src="{% static 'projects/js/homepage.js' %}"></script> {% endcomment %}





<article id="" class="project-count">
	<div class="item index-item col-md-12"  style="background-image: url('{{ object.0.image_url }}')">
		<div class="container">
			<div class="carousel-caption col-md-6 col-sm-8 col-xs-11">
			<div class="postmeta">
				<div class="likes col-md-6 col-sm-6 col-xs-6">
				<button type="button" class="btn heart_op" like="1" id="count_{{ forloop.counter0 }}" counter="{{ forloop.counter0 }}" project_id="{{ object.0.id }}" style="color: {% if object.1 == 1 %} #FFD500 {% else %} #E8E6E6 {% endif %}">
					<i class="glyphicon glyphicon-heart"></i> <span>{{ object.0.likes }}</span>
				</button>
				</div>
				<div class="date col-md-6 col-sm-6 col-xs-6">{{ object.0.created_date }}</div>
			</div>
				<h3 class="project-title"><a href="{% url 'project' object.0.pk %}">{{object.0.name}}</a></h3>
				<ul>
				{% for author in object.0.authors.all %}
					<li class="author" style="float:left; margin-right: 30px; display: block;">
						<h4><a href="{% url 'author' author.pk %}">{{author}}</a>
						</h4>
					</li>
				{% endfor %}
				</ul>
					{% for professor in object.0.lab.professors.all %}
					<div style="display: flex; width: 100%;">
						<div style="flex: 1; text-align: left;">
							<h4>{{ professor }}</h4>
						</div>
						<div style="flex: 1; text-align: right;">
							<h4>{{ professor.university }}</h4>
						</div>
					</div>
					{% endfor %}
				<!-- models.Shop.objects.order_by().values_list('city').distinct() -->
				{% if user.is_authenticated %}
				
				{% for author in object.0.authors.all %}
					{% if author.user.user.id == user.id %}

						<div class="edit_project_area">
							<p><a href="{% url 'project-edit' object.0.id %}" class="edit_text">Edit</a></p>
						</div>				
					{% endif %}	
				{% endfor %}

				{% endif %}					
			</div>
		</div>
	</div>

	</article>