{% load static %}
{% comment %} <div class="row resume-container">
    <div class="author-inner">
        <div class="author-profile-info">
            <div class="group-lead-container">
                <h5>Ideal Role</h5>
                {% if not edit %}
                <div class="forefront-whitespace">{{object.ideal_role}}</div>
                {% else %}
                <div contenteditable class="forefront-whitespace">{{object.ideal_role|default:"describe your ideal role"}}
                </div>
                {% endif %}
                <h5>Previous Work Experience</h5>
                {% if not edit %}
                <div class="forefront-whitespace">{{object.ideal_role}}</div>
                {% else %}
                <div contenteditable class="forefront-whitespace">{{object.ideal_role|default:"describe your ideal role (150 words max)"}}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div> {% endcomment %}




<script src="https://kit.fontawesome.com/9705adc575.js"></script>
    <!--CSS SECTION copy this to your CSS style file-->
    <style>

    /*Author section CSS Code*/
    .author_brief {
      height: 35vh;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #000000;
      color: white;

      border-style: solid;
      border-color: #CBC8BF;
    }

    .prof_main {
      display: flex;
      padding-left: 30%;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
    }

    .fa {
      color: #CBC8BF;
    }

    .prof_sub {
      display: flex;
      padding-left: 30%;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
    }

    .p_image {
      border-radius: 50%;
      border-color: #CBC8BF;
    }

    /*Author Details CSS Code*/
    .details {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      background-color: #353535;
      color: white;

    }
    .fas {
      color: #CBC8BF;
      padding-left:5px;
    }
    .role {
      color: #FED501;
    }
    .work {
      color: #FED501;
    }

    .col-centered {
        text-align:left;
    }

    .work_list {
        list-style:None;
    }
    .entry {
      padding: 0 0 29px 0;
      width: 100%;
    }
    .ideal {
      padding:0;
    }
    .prev_work {
      padding:10px 0 10px 0;
    }

    </style>



      {% comment %}<!--- The Author Information Section --->
      <div class="author_brief">
        <div class="profile">
          <!-- Put link to profile image in this section -->
          <img class="p_image" border="5" src="https://via.placeholder.com/150/0000FF/808080/?text=Profile" alt="">
        </div>
        <div class="profile_brief">
          <!--Author main info-->
          <div class="prof_main">
            <span class="name">{Inser name here}</span>
            <span class="main_qual">{Insert main qualification here}</span>
            <span class="main_uni">{Insert main qualification university}</span>

            <!--Links-->
            <div class="links">
              <a href="mailto:{email}"><i class="fas fa-envelope"></i></a>
              <a href="{link to research page}"><i class="fas fa-microscope"></i></a>
              <a href="{page url}"><i class="fas fa-share-alt"></i></a>
            </div>
            <!--end of Links-->
          </div>
          <div class="prof_sub">
            <hr width=250px color="#bda00f">
            <!-- Use a for loop in this section -->
            <span class="sub_qual">{Inser qualification here}</span>
            <span class="sub_qual">{Inser qualification here}</span>
          </div>
        </div>
      </div>{% endcomment %}
      <!--- END OF The Author Information Section -->

      <!--- The Author Information Section -->
      <div class="col-md-12 style_bg" style="background-color:#353535">
      <div class="col-md-2"></div>
      <div class="col-md-8 row">
      <div class="col-md-3"></div>
      <div class="col-md-9" style="width:68.5%;">
        <div class="row">
          <div class="details">
            <div class="ideal ideal_role_style">
              <h3 class="role">Ideal Role</h3>
              {{ object.ideal_role }}
            </div>
          </div>        
        </div>
        {% if not user.customuser.type == 'PF' %}
        <div class="row">
          <div class="details">
            <div class="prev_work">
              <h3 class="work">Previous Work Experience</h3>
              <!-- Use a for loop in this section -->
                  
                    {% for exp in experience %}
                      <div class="entry">

                        <span class="company" style="float:left;">{{ exp.company }}</span>
                        
                        <span class="time"  style="float:right;">{{ exp.yearfrom }} - {{ exp.yearto }}</span>
                        <br>
                        <span class="postion"  style="float:left;">{{ exp.position }}</span>
                      </div>
                        {% empty %}
                        <span>No Experience Exist</span>
                      
                    {% endfor %}
                  
            </div>
          </div>        
        </div>
        {% endif %}
      </div>
        </div>
      </div>