<div class="row result">
    <!--<div class="col-md-2 col-sm-3 col-xs-12">
        <a href="{% url 'project' object.pk %}" title="{{project.title}}"><img src="{{object.image_url}}" alt="{{object.title}}"
                class="thumbnail-image"></a>
    </div>
    <div class="col-md-10 col-sm-9 col-xs-12">
        <h3 class="project-title"><a href="project.html">This: {{ object.name }}</a></h3>
        <span>{{ object.name }}</span>
        {% if objects.professors.all|length > 2 %}
            {% for prof in object.professors.all|slice:":1" %}
            <span class="author">{{prof}} and more</span>
            {% endfor %}
        {% else %}
            <span class="author">{{ object.professors.all.0 }} and {{ object.professors.all.1 }}</span>
        {% endif %}
    </div>-->

    <div class="col-md-10">
        
            <p><a href="{% url 'lab' object.pk %}" class="redirect_url">{{ object.name }}</a></p>
        
        <p class="search_item"><a href="{% url 'author' object.owner.member.id %}" class="redirect_url">{{ object.owner.member.first_name }} {{ object.owner.member.last_name }} (Lab Admin)</a></p>
        <p class="search_item"></p>
        {% for prof in object.professors.all %}
            {{prof}} (Professor)
        {% endfor %}
        </p>
        {% comment %} <p class="search_item">{{ object.university.name }}</p> {% endcomment %}
        <p class="search_term">{{ object.university.name }} University</p>
    </div>
    
</div>
