<div class="row result">
    <!--<div class="col-md-2 col-sm-3 col-xs-12">
        <a href="{% url 'project' object.pk %}" title="{{project.title}}"><img src="{{object.image_url}}" alt="{{object.title}}"
                class="thumbnail-image"></a>
    </div>
    <div class="col-md-10 col-sm-9 col-xs-12">
        <h3 class="project-title"><a href="project.html">This: {{ object.name }}</a></h3>
        {% if objects.authors.all|length > 2 %}
            {% for author in object.authors.all %}
            <span class="author">{{author}}</span>
            {% endfor %}
        {% else %}
            <span class="author">{{ object.authors.all.0 }} and {{ object.authors.all.1 }}</span>
        {% endif %}
    </div>-->

    <div class="col-md-10">
        
        <p><a class="redirect_url" href="{% url 'project' object.pk %}" class="search_url">{{ object.name }}</a></p>
        
        <p class="search_item"></p>
        {% comment %} {% for author in object.authors.all %}
            {{author}}
        {% endfor %} {% endcomment %}
        
        </p>
        {% for single_member in object.memberprojectcomment_set.all %}
            <p>{% if single_member.is_owner == 1 %} <a class="redirect_url" href="{% url 'author' single_member.member_id %}"> {{ single_member.member.first_name }} {{ single_member.member.last_name }} (Owner)</a>{% endif %}</p>


            <p>{% if single_member.member.professors.all.count > 0 %}<a class="redirect_url" href="{% url 'author' single_member.member_id %}"> {{ single_member.member.first_name }} {{ single_member.member.last_name }} (Professor)</a>{% endif %}</p>
        {% endfor %}
    </div>
</div>