<div class="row result">
    <div class="col-md-2 col-sm-3 col-xs-12" style="padding: 0 0; margin-left:auto; margin-right: auto;">
        <a href="{% url 'author' object.pk %}" ><img src="{{ object.image_url }}" alt="{{ object.first_name }}"
                class="thumbnail-image thumbnail_img_style" ></a>
    </div>
    <div class="col-md-10 col-sm-9 col-xs-12">
        <!--<h3 class="project-title"><a href="project.html">This: {{ object.name }}</a></h3>-->

        <p class="search_term"><a class="redirect_url" href="{% url 'author' object.pk %}" >{{ object.first_name }} {{ object.last_name }}</a></p>
        <p class="search_term">{{ object.university.name }}</p>
    </div>
</div>