{% load static %}
<style>
    .select-label{
        font-family: 'Helvetica', sans-serif;
        font-size: 14px !important;
        color: #FED501;
        font-weight: 500 !important;
    }
</style>

<div class="col-md-2"></div>
<div class="col-md-8">
<div class="author-container row">
    <div class="author-inner {% if update and not edit and type == 'professors' %}professor_detail{% else %} {% if update and not edit %}student_detail {% endif %}{% endif %}" style="margin:0; max-width:100%;">
        <div class="col-md-3">
            {% if not edit %}
            <div class="group author-img-container profile" style="float:right;">
                <img src="{{object.image_url}}" alt="{{object.name}}" class="author-image">
            </div>
            {% else %}
            {% endif %}
        </div>
        <div class="col-md-9">
            <div class="author-profile-info row" style="width:90%; padding-left:0;">
                <div class="group-lead-container">
                    {% if not edit %}
                    <div class="d-flex" style="display: flex; justify-content: space-between;align-items: center;">
                        <a href="{% url 'author' object.pk %}">
                            <span class="author-name author-page-name">
                                {{object}}
                            </span>
                        </a>
                        {% if user.customuser.type == 'PF' %}
                            <a href="{% url 'profile' %}" style="color: #FED501;">edit</a>
                        {% endif %}
                    </div>
                    <div class="clearfix"></div>
                    {% elif type == 'members' %}
                        <div style="margin-bottom: 20px" class="members">
                            <label class="select-label">Please Select Members:</label> {{form.author_select}}
                        </div>
                    {% elif type == 'professor_dropdown' %}
                        <div style="margin-bottom: 20px" class="professors">
                            <label class="select-label">Please Select professors:</label> {{p_form.prof_select}}
                        </div>
                    {% elif select %}
                        <div style="margin-bottom: 20px">
                            <label class="select-label">Please Select Authors:</label> {{form.author_select}}
                        </div>
                    {% else %}
                        <div class="author-name" contenteditable>
                            {{object.first_name|default:"first name"}}
                        </div>
                        <div class="author-name" contenteditable>
                                {{object.last_name|default:"last name"}}
                        </div>
                    {% endif %} 
                    {% if not edit %}
                    <div class="position forefront-whitespace position_area">{{object.position}}</div>
                    {% endif %}

                    
                    {% if type == 'author' %}
                    <div class="inlinegroup inlinegroup_area">
                        <div class="group-lead-details forefront-whitespace university_area">{{object.university.name}} University</div>
                        <div class="group-lead-connect author-connect links_area">
                            <a href="mailto:{{ object.user.user.email }}"><img src="{% static "projects/images/envelope.jpg" %}" alt="Email {{object}}" width="28" height="28"></a>
                            <a href="{{object.website}}" class="{% if object.website %}{% else %}forefront-hidden{% endif %}" id="website_link" target="_blank">
                                <i class="glyphicon glyphicon-globe" style="font-size:22px;"></i>
                            </a>
                            {% if labs_arr %}
                                <select id="lab_select" >
                                    <option>Lab</option>
                                    {% for lab in labs_arr %}
                                        <option value="{{ lab.lab_id }}">{{ lab.name }}</option>
                                    {% endfor %}
                                </select>
                            {% endif %}

                            {% comment %} {% if lab_id %}
                            <a href="{% url 'lab' lab_id %}" style="padding-left:0 !important;">
                                <img class="lab_icon" src="https://cdn0.iconfinder.com/data/icons/kameleon-free-pack/110/Microscope-512.png" width="32" height="32" />
                            </a>
                            {% endif %} {% endcomment %}
                            <div class="sharethis-inline-share-buttons"></div>
                        </div>
                    </div>
                    {% endif %}
                    <div>
                        {% if type == 'author' %}
                        <hr width=250px color="#bda00f">
                        
                        {% for qual in qualification %}
                        <span class="position forefront-whitespace">{{ qual.degree }} in {{ qual.university.name }} University, {{ qual.year }} </span><br>
                        {% empty %}
                        <span class="position forefront-whitespace">No Qualification exists.</span><br>
                        {% endfor %}
                        
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% if update and not edit or type == 'professors' %}
            <div class="student-remove"><span class="glyphicon glyphicon-remove" style="color: #FED501;font-size: .8em;"></span></div>
        {% endif %}        
    </div>
</div>
</div>
