{% extends "projects/base.html" %}
{% block content %}
<div class="col-sm-4">
  <h2>Error:</h2>
  <div class="row">
    <blockquote class="blockquote text-center" style="border: none !important;">
      <p class="mb-0" style="color: #e8e6e6; font-size: 14px !important;">Sorry, you have provided an invalid token</p>
    </blockquote>
  </div>
</div>

{% endblock %}
