{% extends "projects/base.html" %}
{% load static %}
{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static 'projects/style.css' %}"/>
{% endblock %}
{% block content %}
  <div class="col-md-12 confirm_email_section">
      <h2 style="color: #e8e6e6; font-size: 14px !important;">Please confirm your email address to complete the registration. </h2>
  </div>
{% endblock %}
