{% extends "projects/base.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'projects/style.css' %}" />
{% endblock %}
{% block content %}
<div class="container-fluid">
  <div class="col-sm-4">
      <div class="row">
        <blockquote class="blockquote text-center" style="border: none !important;">
          <p class="mb-0" style="color: #e8e6e6; font-size: 14px !important;">Account email Successfully verified!!!</p>
        </blockquote>
      </div>
      <div class="row">
        <a href="{% url 'login' %}"><button class="btn btn-default">Log In</button></a>
      </div>
  </div>
</div>
{% endblock %}
