{% extends "projects/base.html" %}

{% block content %}
  <div class="container-fluid">
    <div class="col-sm-4">
        <div class="row">
          <blockquote class="blockquote text-center" style="border: none !important;">
            <p class="mb-0" style="color: #e8e6e6; font-size: 14px !important;">Account email Successfully verified!</p>
          </blockquote>
        </div>
        <div class="row">
          <blockquote class="blockquote text-center" style="border: none !important;">
            <p class="mb-0" style="color: #e8e6e6; font-size: 14px !important;">Please wait for Admin Approval to get access to account</p>
          </blockquote>
        </div>
    </div>
  </div>
{% endblock %}
