{% extends "projects/base.html" %}
{% load static %}
{% block bodyclass %}author-profile{% endblock %}
{% block content %}

	<main role="main">
		<!-- section -->
		<section>
		<div class="container-fluid author-page-container" style="padding-left:0px;padding-right:0px;">
			<div class="" >
				<div class="col-sm-12 p-0 col-centered" style="padding-left:0px;padding-right:0px;">
					{% include "projects/_user_profile.html" with object=object type='author' qualification=qualification lab_id=lab_id %}
					
					{% include "projects/_resume.html" with object=object experience=experience %}
					
					{% comment %} {% for project in projects %}
						{% include "projects/_project_list_item.html" with object=project %}
					{% endfor %} {% endcomment %}
					{% for object in zipped %}

					{% include "projects/_project_list_item.html" with object=object index=forloop.counter0 %}

					{% endfor %}
				</div>
			</div>
			</div>
	
{% endblock %}
{% block scripts %}
<script src="{% static 'projects/js/lab.js' %}" ></script>
{% endblock %}