{% load static %}

<div class="row comment_form">
  <div class="col-md-12">
  <div class="col-md-2"></div>
  <div class="col-md-8">
      {% csrf_token %}
      <div class="row">
        <span class="error_area">
			  </span>
      </div>
      <div class="row">
        <div class="form-group">
          <select name="project_member">
          </select>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <textarea name="comment" rows="10" columns="50" placeholder="Enter your contribution"></textarea>
        </div>
      </div>
      <div class="row">
        <input type="submit" value="Submit" name="comment_form" id="comment_form" />
      </div>
  </div>
  <div class="col-md-2"></div>
  </div>
</div>