{% extends 'projects/base.html' %}
{% load static %}
{% block head %}
  <link rel="stylesheet" href="{% static 'projects/css/author_form.css' %}"/>
  <style type="text/css">
    .author-create-modal{
      margin-top: 40px;
    }
    .save-row{
      margin-bottom: 40px;
    }
  </style>
{% endblock %}
{% block content %}
<div class="container author-create-modal">
  <div class="row">
    <div class="col-md-offset-3 col-md-6">
      {% include 'projects/author_form.html' %}
    </div>
  </div>
</div>
{% endblock %}
{% block scripts %}
  <script src="{% static 'projects/js/author_form.js' %}"></script>
{% endblock %}