{% load static %}
<!doctype html>
<html class="no-js">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="{% static 'projects/images/favicon.ico' %}">

  <title>forefront</title>
  <!-- Bootstrap core CSS -->
  <link href="{% static 'projects/css/bootstrap.min.css' %}" rel="stylesheet">
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <link href="{% static 'projects/css/ie10-viewport-bug-workaround.css' %}" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'projects/css/component.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'projects/style.css' %}?v=1.11"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.14.0/ui/trumbowyg.min.css"/>
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="{% static 'projects/https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js' %}"></script>
  <script src="{% static 'projects/https://oss.maxcdn.com/respond/1.4.2/respond.min.js' %}"></script>
  <![endif]-->  
  <style>
    .glyphicon {
      color: white;
    }
    
    @media screen and (max-width: 320px){
      .uname{
        font-size: .98em !important;
        text-transform: capitalize;
      }
    }
  </style>
  {% block head %} {% endblock %}
</head>
<body class="{% block bodyclass %}{% endblock bodyclass %}">
<!-- wrapper -->
<div class="wrapper">
  <!-- /logo -->
  <!-- nav -->
  <!-- <nav class="nav" role="navigation">
         <?php //html5blank_nav();?>
       </nav> -->
  <nav class="navbar navbar-inverse navbar-fixed-top" id="navbar-top">
    <div class="container">
      <div class="navbar-header">
        <div class="branding">
          <a href="{%url 'home' %}" target="_self">
            <h1 class="logo">
              <span class="fore">fore</span><span class="front">front</span>
            </h1>
          </a>
        </div>
        <div class="nav-container">
          <?php get_search_form(); ?>
        </div>
        <div class="nav-container" style="float: right;">
          <a href="/upload" style="font-size: 150%; visibility: hidden;">+</a>
        </div>
      </div>
    </div> <!-- /container -->
  </nav>
  <nav class="navbar navbar-inverse subnav" style="position: relative;">
    {% if user.is_authenticated %}
      {% with member=request.user.customuser.member %}
      <ul style="float: left;">
        <li>
          {% if request.user.customuser.member.id and request.user.customuser.member.first_name and not request.user.is_superuser %}
          <a href="{% url 'author' request.user.customuser.member.id %}" class="navbutton uname">
            {{ member.first_name }} {{ member.last_name }}
          </a>
          {% endif %}
        </li>
      </ul>
      <div class="clearflix"></div>
      {% endwith %}
    {% endif %}
    <ul style="position: absolute;top: 50%;right: 49.5%;transform: translate(45%, -50%);">
      <li><a href="{% url 'home' %}" class="navbutton {{class_projects_page}}"> Projects</a></li>
      <li><a href="{% url 'labs' %}" class="navbutton {{class_labs_page}}">Groups</a></li>
    </ul>
  </nav>
  <div class="forefront-sidebar">
    <nav>
      <ul>
        <li>
          <i class="glyphicon glyphicon-search"></i>
        </li>
        <li>
          <i class="glyphicon glyphicon-user"></i>
        </li>
        <li>
          <i class="glyphicon glyphicon-envelope"></i>
        </li>
      </ul>
    </nav>
    <div id="forefrontSidebarContent">
      <div class="forefront-sidebar-close">&times;</div>
      {% if not user.is_authenticated %}
      {% comment %} <form action="{% url 'login' %}" method="POST"> {% endcomment %}
      <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        <h3>Sign in</h3>
        <input type="text" class="form-control" name="email" placeholder="Email"/><br>
        <input type="password" class="form-control" name="password" placeholder="Password"/><br>
        <input type="submit" class="btn btn-default" value="Sign in"/>
      </form>
      <br/>
      <form action="{% url 'signup' %}" method="POST">
        {% csrf_token %}
        <h3 style="margin-top: 60px;">Not registered?</h3>
        <small class="email-help-text" style="display: inline-block;margin-bottom: 10px;">Please use .edu email address.</small>
        <label for="">Select User Type:</label>
        <select class="form-control" name="user_type">
          <option value="SU">Student</option>
          <option value="LA">Lab Admin</option>
          <option value="PF">Professor</option>
        </select>
        <input type="hidden" class="form-control" name="username" placeholder="Username"/><br>
        <input type="email" class="form-control" name="email" placeholder="Email"/><br>
        <input type="password" class="form-control" name="password1" placeholder="Password"/><br>
        <input type="password" class="form-control" name="password2" placeholder="Re-enter password"/><br>
        <input type="submit" class="btn btn-default" value="Sign up"/>
      </form>
      {% else %} 
        <div style="margin-top: 20px">&nbsp;</div>
        <a href="{% url 'logout' %}"><button class="btn btn-default">Sign out</button></a>
        <a href="{% url 'profile' %}"><button class="btn btn-default">My profile</button></a>
        {% if request.user.customuser.type == 'LA' %}
          <a href="{% url 'lab_edit' request.user.customuser.labs.id %}"><button class="btn btn-default" id="upload_btn">My Lab</button></a>
        {% elif request.user.customuser.type == 'SU' %}
          <a href="{% url 'upload' %}"><button class="btn btn-default" id="upload_btn">Upload</button></a>
        {% endif %}
        <a href="{% url 'invite' %}"><button class="btn btn-default">Invitation</button></a>
      {% endif %}
    </div>
    <div id="forefrontSidebarSearchContent">
      <div class="forefront-sidebar-search-close">&times;</div>
      <!--Changed to incorporate search function-->
      <form action="{% url 'search' %}" method="GET">
        {% csrf_token %}
        <h3>Search</h3>
        <input type="text" class="form-control" id="q" name="q" placeholder="Search"/>
        <br>
      </form>
    </div>    
      <div id="forefrontSidebarMailContent">
      <div class="forefront-sidebar-mail-close">&times;</div>
        <h3>Email </h3>
        {% if not user.is_authenticated %}
        <label for="">No email.</label>
        {% else %}
        <a id="mailid" href="mailto:{{user.email}}">{{user.email}}</a>
        {% endif %}
        <br>
    </div>

  </div>
  <!-- /nav -->
  {% block content %}{% endblock %}
  {% include "projects/footer.html" %}
</div>
{% block scripts %}{% endblock %}
</body>
</html>