{% load static %}

<footer>
  &copy; 2019 forefront
</footer>

<script src={% static "projects/js/classie.js" %}></script>
<script src="{% static "projects/js/uisearch.js" %}"></script>
<script>
  new UISearch(document.getElementById('sb-search'));
</script>
<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
<script type="text/javascript">
  $("document").ready(function () {

    $.each($(".container > .carousel-caption"), function (index, value) {
      var num = index + 1;
      $(value).attr("id", "post" + num);
    });
  });
</script>

<!-- Bootstrap core JavaScript -->
<script src="{% static "projects/js/bootstrap.min.js" %}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="{% static "projects/js/ie10-viewport-bug-workaround.js" %}"></script>


<script>
  $(function () {
    $(".forefront-sidebar>nav").click(function () {
      if (!$(".forefront-sidebar").hasClass("expanded")) {
        $(".forefront-sidebar").toggleClass("expanded");
        $("#forefrontSidebarContent").toggleClass("expanded");
      }
    })

    // $(".forefront-sidebar nav").click(function() {
    $("li>.glyphicon-user").click(function () {
      if (!$(".forefront-sidebar").hasClass("expanded")) {
        $(".forefront-sidebar").toggleClass("expanded");
        $("#forefrontSidebarContent").toggleClass("expanded");
      }
      else {
        if ($("#forefrontSidebarSearchContent").hasClass("expanded")) {
          $(".forefront-sidebar").toggleClass("expanded");
          $("#forefrontSidebarSearchContent").toggleClass("expanded");
        }


        if ($("#forefrontSidebarMailContent").hasClass("expanded")) {
          $(".forefront-sidebar").toggleClass("expanded");
          $("#forefrontSidebarMailContent").toggleClass("expanded");
        }


        $(".forefront-sidebar").toggleClass("expanded");
        $("#forefrontSidebarContent").toggleClass("expanded")

      }

    })
    $("li>.glyphicon-search").click(function () {
      if (!$(".forefront-sidebar").hasClass("expanded")) {
        $(".forefront-sidebar").toggleClass("expanded");
        $("#forefrontSidebarSearchContent").toggleClass("expanded");
      }
      else {
        $(".forefront-sidebar").toggleClass("expanded");
        if ($("#forefrontSidebarMailContent.expanded").length > 0) {
          $("#forefrontSidebarContent").toggleClass("expanded")
          $("#forefrontSidebarMailContent").toggleClass("expanded");
        }
        $("#forefrontSidebarSearchContent").toggleClass("expanded");
      }
    })
    $("li>.glyphicon-envelope").click(function () {
      if (!$(".forefront-sidebar").hasClass("expanded")) {
        $(".forefront-sidebar").toggleClass("expanded");
        $("#forefrontSidebarMailContent").toggleClass("expanded");
      }
      else {
        $(".forefront-sidebar").toggleClass("expanded");
        if ($("#forefrontSidebarSearchContent.expanded").length > 0) {
          $("#forefrontSidebarContent").toggleClass("expanded")
          $("#forefrontSidebarSearchContent").toggleClass("expanded");
        }
        $("#forefrontSidebarMailContent").toggleClass("expanded");
      }
    })

    $(".forefront-sidebar-close").click(function () {
      if ($(".forefront-sidebar").hasClass("expanded")) {
        $(".forefront-sidebar").toggleClass("expanded");
        $("#forefrontSidebarContent").toggleClass("expanded");
      }
    })
    $(".forefront-sidebar-search-close").click(function () {
      if ($(".forefront-sidebar").hasClass("expanded")) {
        $(".forefront-sidebar").toggleClass("expanded");
        $("#forefrontSidebarSearchContent").toggleClass("expanded");
      }
    })
    $(".forefront-sidebar-mail-close").click(function () {
      if ($(".forefront-sidebar").hasClass("expanded")) {
        $(".forefront-sidebar").toggleClass("expanded");
        $("#forefrontSidebarMailContent").toggleClass("expanded");
      }
    })

  });
</script>

<!-- <script>
    $(function () {
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                  window.e = e;
                    $('label[for=' + input.id + ']').css('background-image', "url(" + e.target.result + ")");
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
        $(".preview-photo").change(function () {
            readURL(this);
        });
    })
    </script> -->

{% if form %}
{{form.media}}
{% endif %}