{% extends "projects/base.html" %}
{% block bodyclass %}index{% endblock %}
{% load static %}
{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="{% static 'projects/js/author_form.js' %}"></script>
{% endblock %}
{% block content %}
{% for object in zipped %}

{% include "projects/_project_list_item.html" with object=object index=forloop.counter0 %}

{% endfor %}

{% endblock %}