{% extends "projects/base.html" %}
{% load static %}
{% block head %}
  <style>
    .author-name {
      color: #ffffff !important;
    }
    .author-img-container {
        flex: none;
        min-width: unset;
        max-width: unset;
        width: 60px;
    }
    .author-img-container img.author-image {
        width: 60px;
        height: 60px;        
    }
    .group.author-img-container {
        height: 60px !important;
        width: 60px !important;
    }

    /* for frontend */
    .group-lead .group.author-img-container {
        height: 60px !important;
        width: 60px !important;
    }    
    .contributors-rows .author-inner {
      min-height: 100px;
    }
    .contributors-rows .author-profile-info {
      margin-top: 0;
      margin-bottom: 0;
    }

    .group-lead .author-inner {
      min-height: 100px;
    }
    .group-lead .author-profile-info {
      margin-top: 0;
      margin-bottom: 0;
    }    
  </style>
{% endblock %}
{% block content %}

<div class="container-fluid group-page-container">
  <div class="row">
    <div class="col-lg-10 group-header">
      <div class="group-heading">
        <h2 class="group-title">{{object.name|capfirst }}</h2>
        <h3 class="institution">{{object.university}}</h3>
        <hr class="group-header">
        <h4 class="excerpt">
          {{object.excerpt|default:"lab Excerpt"|capfirst }}
        </h4>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid author-page-container" style="border-bottom:none;">
  <div class="row">
    <div class="col-lg-12 group-lead" style="background: black">
      <!-- contributor !-->
      {% for professor in object.professors.all %}
        {% include "projects/_profile.html" with object=professor type='contributor' %}
      {% endfor %}
      <!-- end contributor !-->
    </div>
  </div>
</div>
{% if object.labresearchtopic_set.all %}
  {% include "projects/_lab_topic_slider.html" with list=object.labresearchtopic_set.all id="labTopicSliderCarousel" %}
{% endif %}
<div class="container-fluid author-page-container contributors">
  <div class="">
    <div class="contributors-rows" style="padding-top:14px; padding-bottom: 10px;">
      <!-- contributor !-->

      <div class="author-container"><div class="author-inner student_detail"><div class="group author-img-container profile"><img src="{{ admin_detail.image_url }}" alt="" class="author-image"></div><div class="author-profile-info"><div class="group-lead-container"><a href="/author/{{ admin_detail.id }}"><div class="author-name"> {{ admin_detail.first_name }} {{ admin_detail.last_name }}</div></a><div class="position forefront-whitespace">{{ admin_detail.position }}</div><div></div></div></div></div></div>


      {% for member in object.members.all %}
      {% include "projects/_profile.html" with object=member type='contributor' %}
      {% endfor %}
      <!-- end contributor !-->
    </div>
  </div>
</div>
{% if object.major_contributions %}
<section class="group citations contributions" style="border-top: 1px solid #E8E6E6;">
  <div class="container-fluid">
    <div class="forefront-lab-col">
      <h4>Major Contributions</h4>
      <div class="forefront-whitespace">
        {{object.major_contributions}}
      </div>
    </div>
  </div>
</section>
{% endif %}
{% if object.labpublication_set.count > 0 %}
<section class="group citations">
  <div class="container-fluid">
    <div class="forefront-lab-col">
      <h4>Publications</h4>
      <!-- <p>2018</p> -->
      <ol style="padding-left:8px;">
        {% for publication in object.labpublication_set.all %}
        <li class="forefront-whitespace">{{publication.citation}}</li>
        {% endfor %}
      </ol>
    </div>
  </div>
</section>
{% endif %}
{% if object.sources_of_funding %}
<section class="group citations funding">
  <div class="container-fluid">
    <div class="forefront-lab-col">
      <h4>Sources of Funding​</h4>
      <p>{{object.sources_of_funding}}</p>
    </div>
  </div>
</section>
{% endif %}

<section class="group funding">
  <div class="container-fluid">
    <div class="forefront-lab-col">
    </div>
  </div>
</section>

{% endblock %}