{% extends "projects/base.html" %}
{% load js_tags %}
{% load static %}
{% block bodyclass %}lab lab-edit{% endblock %}
{% block content %}
{% include "projects/_lab.html" with preview=True %}
{% endblock %}
{% block scripts %}
{% comment %} <script src="{% static 'projects/js/author_form.js' %}"></script> {% endcomment %}
<script src="{% static 'projects/js/lab.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function () {
        function set_preview() {
            // remove multiple images section if no image exists
            if (localStorage.getItem('upm-img1') == 'https://forefront-uploads-prod.s3-us-west-1.amazonaws.com/') {
                $('.preview_imgs').remove();
            }

            $("#lab_title").text(localStorage.getItem("lab_title"));
            $('#university_title').text(localStorage.getItem("university_name"));
            $("#excerpt").text(localStorage.getItem("excerpt"));
            $("#major-contribution").text(localStorage.getItem("major_contribution"));
            $("#source_of_funding").text(localStorage.getItem("source_of_funding"));
            var update_preview = localStorage.getItem("update");
            if (update_preview) {
                var research_list = {{ request.session.lab_research_list | js }};
                research_list = JSON.parse(research_list);

                for (let i = 0; i < research_list.length; i++) {
                    if ('id' in research_list[i]) {
                        if (research_list[i].image === 'same') {
                            $('#slide' + (i + 1)).children().eq(0).children().attr('src', research_list[i].image_url);
                        } else {
                            $('#slide' + (i + 1)).children().eq(0).children().attr('src', localStorage.getItem(research_list[i].image));
                            $('#slide' + (i + 1)).children().eq(0).children()[0].style.cssText = localStorage.getItem(research_list[i].image + "-cssText");
                            console.log(localStorage.getItem(research_list[i].image + "-cssText"));
                        }
                    } else {
                        $('#slide' + (i + 1)).children().eq(0).children().attr('src', localStorage.getItem(research_list[i].image));
                        $('#slide' + (i + 1)).children().eq(0).children()[0].style.cssText = localStorage.getItem(research_list[i].image + "-cssText");
                    }
                    $('#slide' + (i + 1)).children().eq(0).children().css({
                        'border-radius': '0'
                    });
                }

            }else {

                var total = localStorage.getItem('total_images');
                for(let i = 0; i<total; i++) {
                    $('#slide' + (i + 1)).children().eq(0).children().attr('src', localStorage.getItem('image_' + i));
                    // $('#slide' + (i + 1)).children().eq(0).css('background-image', 'url(' + localStorage.getItem('image_' + i) + ')')
                }
            }


            authors_arr = JSON.parse(localStorage.getItem("authors_arr"))
            temp_var = ''
            jQuery.each(authors_arr, function (index, author) {
                a = ''
                temp_var += '<div class="author-container"><div class="author-inner student_detail"><div class="group author-img-container profile"><img src="' + author.image + '" alt="" class="author-image"></div><div class="author-profile-info"><div class="group-lead-container"><a href="/author/' + author.id + '"><div class="author-name">' + author.author_name + '</div></a><div class="position forefront-whitespace">' + author.position + '</div><div></div></div></div></div></div>'



            });
            jQuery(".contributors-rows").append(temp_var)
            

        }
        set_preview();
    });


    function set_carousel() {
        var items = $(".carousel-inner .item").length;
        if (items > 3) {
            $(".carousel-inner .item").first().addClass("active");
            $('.carousel .item').each(function () {
                var next = $(this).next();
                if (!next.length) {
                    next = $(this).siblings(':first');
                }
                next.children(':first-child').clone().appendTo($(this));
                if (next.next().length > 0) {
                    next.next().children(':first-child').clone().appendTo($(this));
                } else {
                    $(this).siblings(':first').children(':first-child').clone().appendTo($(this));
                }
            });
            $('.carousel').carousel('pause');
        } else {
            $(".carousel-inner .item").addClass("active");
            $(".carousel-control").remove();
        }
    }
    set_carousel();
</script>
{% endblock %}