{% extends "projects/base.html" %}
{% load static %}

{% block bodyclass %}lab lab-edit{% endblock bodyclass %}
{% block head %}
<link rel="stylesheet" href="{% static 'projects/css/author_form.css' %}" />
{% endblock %}

{% block content %}
{% if lab %}
{% include "projects/_lab.html" with edit=False object=lab members=members update=True %}
{% else %}
{% include "projects/_lab.html" with edit=True members=members %}
{% endif %}

{% endblock %}

{% block scripts %}
<script src="{% static 'projects/js/cropper.js' %}"></script>
<script src="{% static 'projects/js/mycropper.js' %}"></script>
<!-- <script src="{% static 'projects/js/author_form.js' %}"></script> -->
<script type="text/javascript">
    $(document).ready(function () {
        var count = 1;
        var images = { "upm": [] };
        var files = { "upm": [] };

        function set_img(src, target, callback) {
            var reader = new FileReader();
            reader.addEventListener('load', function (ev) {
                $(target).attr('src', ev.target.result);
                if (callback) {
                    callback(ev.target.result);
                }
            });
            reader.readAsDataURL(src);
        }
        $("#upload-project-photo").on("change", function () {
            files["banner"] = this.files[0];
            set_img(this.files[0], ".project-banner-img img", function (result) {
                images["banner"] = result;
            })
        });
        $("#upload-additional-photo").on('change', function () {
            if (count >= 4) {
                alert("You can not upload more than three images.");
                return
            }
            if (this.files.length + count > 4) {
                alert("Please select the " + (4 - count) + " files");
                return
            }
            $.each(this.files, function (index, value) {
                files["upm"].push(value)
                set_img(value, ".upm #upm-img" + count, function (result, count) {
                    images["upm"].push(result);
                });
                count += 1
            });
        });

        $("#lab-add-btn").click(function () {
            var labRow = $('.lab-row');
            var labForm = $('.lab-form');
            $('.lab-row div:first-child').append(labForm.html());
        })

    });
</script>
{% endblock %}