{% extends "projects/base.html" %}
{% block bodyclass %}project project-edit{% endblock bodyclass %}
{% load static %}

{% block content %}

<div class="container-fluid content loginpage">
  <div class="row" style="margin:25px auto;">
  <div class="col-sm-4">
  </div>
    <div class="col-sm-4">
      {% if err_msg %}
      <p style="color:#FED501;">{{ err_msg }}</p>
      {% endif %}

      
      {% if user.is_authenticated %}
      <p style="color:#FED501;">Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>
      {% else %}
      
      

      <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
          <label for="email">Email address:</label>
          <input type="email" name="email" class="form-control" id="email">
        </div>
        <div class="form-group">
          <label for="pwd">Password:</label>
          <input type="password" name="password" class="form-control" id="pwd">
        </div>
        <input type="hidden" name="next" value="{{ next }}">
        <button type="submit" class="btn btn-default">Sign in</button>
      </form>      
      {% endif %}
      {% comment %} <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <p style="margin: 0">{{ form.username.label_tag }}</p>
        {{ form.username }}

        <p style="margin: 0">{{ form.password.label_tag }}</p>
        {{ form.password }}
        <br />
        <p style="margin: 0">
        <input class="btn btn-default" type="submit" value="login">
        </p>
        <input type="hidden" name="next" value="{{ next }}">
      </form> {% endcomment %}


    </div>
    <div class="col-sm-4">
    </div>
  </div>
</div>
{% endblock %}