{% extends 'admin/base.html' %}
{% load i18n admin_urls static admin_list %}

{% block title %}New Lab Admin {% endblock %}
{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "admin/css/changelists.css" %}">
{% if cl.formset %}
<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">
{% endif %}
{% if cl.formset or action_form %}
<script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
{% endif %}
{{ media.css }}
{% if not actions_on_top and not actions_on_bottom %}
<style>
    
    div.result{
        display: flex;
        justify-content: center;
    }

    table#result_list{
        width: 100%;
        max-width: 879px;
    }
    table thead th:first-child {
        width: 100%;
    }
    thead{
        background: #d8d8d8;
        font-weight: 700;
        text-shadow: 3px 2px 2px #8682821c;
        text-transform: capitalize;
        font-size: 1.2em;
    }
    tbody tr:nth-child(even){
        background: #dcd7d73b !important;
    }

    #model-form
    {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        margin: 0;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background: rgba(0,0,0,.5);
        overflow: hidden !important;
        display: none;
    }

    form
    {
        margin: 0;
        padding: 30px;
        min-width: 550px;
        background: #fff;
        border-radius: 10px;
        box-shadow: 5px 10px 10px rgba(0,0,0,0.4);
    }
    form legend {
        font-size: 1.5em;
        color: #212020;
        letter-spacing: 2px;
        font-size: 3em;
        font-weight: 700;
        text-align: center;
        text-transform: capitalize;
        text-shadow: 3px 3px 5px rgba(0,0,0,.2);
    }
    form label{
        display: inline-block;
        padding: .5em;
        width: 30%;
        font-size: 16px;
    }

    input[type="text"],
    select{
        width: 60%;
        letter-spacing: 1px;
    }
    form button
    {
        background: #445af1;
        padding: 10px 20px;
        border: none;
        outline: none;
        box-shadow: 5px 4px 10px rgba(0,0,0,.2);
        border-radius: 20px;
        color: #fff;
        font-weight: bold;
        transition: .5s;
    }
    form button:hover{
        letter-spacing: 1px;
        border: 2px solid #445af1;
        background: transparent;
        color: #445af1;
        cursor: pointer;
    }
    a.disable{
        pointer-events: none;
        color: #aaa;
        cursor: default;
    }
</style>
{% endif %}
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    {{ media.js }}
{% endblock %}
{% block branding %}
    <h1 id="site-name"><a href="/admin/">Django administration</a></h1>
{% endblock %}
{% block usertools %}
    {% if request.user.is_superuser %}
        <div id="user-tools">
            {% block welcome-msg %}
            {% trans 'Welcome,' %}
            <strong>{% firstof user.get_short_name user.get_username %}</strong>.
            {% endblock %}
            {% block userlinks %}
            {% if site_url %}
            <a href="{{ site_url }}">{% trans 'View site' %}</a> /
            {% endif %}
            {% if user.is_active and user.is_staff %}
            {% url 'django-admindocs-docroot' as docsroot %}
            {% if docsroot %}
            <a href="{{ docsroot }}">{% trans 'Documentation' %}</a> /
            {% endif %}
            {% endif %}
            {% if user.has_usable_password %}
            <a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a> /
            {% endif %}
            <a href="{% url 'new_lab_user' %}">{% trans 'New Lab Users' %}</a> /
            <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>

            {% endblock %}
        </div>
    {% endif %}
{% endblock %}

{% block content %}
<div class="result">
    <table id="result_list">
        <thead>
            <tr>
                <td scope="col">Email</td>
                <td scope="col">Action</td>
            </tr>
        </thead>
        <tbody>
            {% for u in users %}
                <tr>
                    <td>{{ u.user.email }}</td>
                    <td>
                        <a href="" 
                            class="{% if u.status == 1 %}disable{% endif %}" 
                            onclick="onapprove(event, {{u.id}});">
                            Approve
                        </a> 
                        / 
                        <a href="{% url 'new_lab_user_action' 'D' u.id %}" 
                            class="{% if u.status == 0 %}disable{% endif %}">
                            Disapprove
                        </a> 
                        /
                        <a href="{% url 'new_lab_user_action' 'R' u.id %}">Delete</a> 
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div id="model-form">
    <form action="{% url 'new_lab_user_action' action='A' user_id=0 %}" id="form" method="post" class="bg-light">
        {% csrf_token %}
        <fieldset style="padding: 1em .5em;">
            <legend>Fill in the details</legend>
            {{ form.as_p }}
            <!-- <input type="hidden" name='user_id' value="" />  -->
        </fieldset>
        <div class="form-group" style="text-align: center; margin-top: 2em;">
            <button type="submit">Approve & Save</button>
        </div>
    </form>
</div>

<script>
    function onapprove(event, user_id){
        event.preventDefault();
        console.log(user_id)
        var form_model = document.getElementById('model-form');
        form_model.style.display = 'flex';
        var form = document.getElementById('form');
        form.addEventListener('submit', function(e){
            e.preventDefault();
            var input = document.createElement('input');
            input.type = 'hidden';
            input.name = 'user_id';
            input.value = user_id;
            form.appendChild(input);
            console.log(input);
            console.log(form);

            form.submit();

        })
    }
</script>


{% endblock %}