{% extends "projects/base.html" %}
{% load static %}

{% block bodyclass %}project project-edit{% endblock %}
{% block content %}
{% include "projects/_project.html" with preview=True %}
{% endblock %}
{% block scripts %}
<script src="{% static 'projects/js/author_form.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function () {
        
        function set_preview() {
            console.log('hhhh1')
            // remove multiple images section if no image exists
            if(localStorage.getItem('upm-img1') == 'https://forefront-uploads-prod.s3-us-west-1.amazonaws.com/') {
                $('.preview_imgs').remove();
            }
            
            $("#banner-image").css({"display" : "inline-block"}); // show image deliberately
            $("#project_title").text(localStorage.getItem("project_title"));
            $("#excerpt").text(localStorage.getItem("excerpt"));
            $("#project_date").text(localStorage.getItem("project_date"));
            $("#banner-image").attr("src", localStorage.getItem('banner_photo'));

            if(localStorage.getItem('upm-img1')) {
                $(".multiple_imgs_row").append('<div class="col-md-4 multiple_img_style" style="overflow: hidden;"><div class="img-preview-upm-img1" style="overflow: hidden; width: 100%; height: 350px;"><img id="upm-img1" alt="" src="'+localStorage.getItem('upm-img1')+'"/></div></div>')
                $("#upm-img1")[0].style.cssText = localStorage.getItem('upm-img1-cssText');
            }
            if(localStorage.getItem('upm-img2')) {
                $(".multiple_imgs_row").append('<div class="col-md-4 multiple_img_style" style="overflow: hidden;"><div class="img-preview-upm-img2" style="overflow: hidden; width: 100%; height: 350px;"><img id="upm-img2" alt="" src="'+localStorage.getItem('upm-img2')+'"/></div></div>')
                $("#upm-img2")[0].style.cssText = localStorage.getItem('upm-img2-cssText');
            }
            if(localStorage.getItem('upm-img3')) {
                $(".multiple_imgs_row").append('<div class="col-md-4 multiple_img_style" style="overflow: hidden;"><div class="img-preview-upm-img3" style="overflow: hidden; width: 100%; height: 350px;"><img id="upm-img3" alt="" src="'+localStorage.getItem('upm-img3')+'"/></div></div>')
                $("#upm-img3")[0].style.cssText = localStorage.getItem('upm-img3-cssText');
            }
            // $("#upm-img1").attr("src", localStorage.getItem('upm-img1'));
            // $("#upm-img2").attr("src", localStorage.getItem('upm-img2'));
            
            // console.log("localStorage.getItem('upm-img3')")
            // console.log(localStorage.getItem('upm-img1'))
            // $("#upm-img3").attr("src", localStorage.getItem('upm-img3'));
            $("#full_description").text(localStorage.getItem("full_description"));
            
            if( ($("#upm-img1").attr("src") === '' && $("#upm-img2").attr("src") === '' && $("#upm-img3").attr("src") === '') ) {
                $(".upm").parent().css({'height': 0});
            }            
            // $("#banner-image")[0].style.cssText = localStorage.getItem('banner-cssText');
            console.log(localStorage.getItem("banner-height"));
            $(".project-banner-img").css({
                "height": localStorage.getItem("banner-height"),
            });
            console.log(localStorage.getItem('upm-img1-cssText'))
            
            
            

            console.log(localStorage.getItem('upm-img1-cssText'));

            
            // jQuery("#myCarousel .carousel-inner").append(temp_var)

        }
        set_preview();
    });


    function set_carousel() {
        var items = $(".carousel-inner .item").length;
        if (items > 3) {
            $(".carousel-inner .item").first().addClass("active");
            $('.carousel .item').each(function () {
                var next = $(this).next();
                if (!next.length) {
                    next = $(this).siblings(':first');
                }
                next.children(':first-child').clone().appendTo($(this));
                if (next.next().length > 0) {
                    next.next().children(':first-child').clone().appendTo($(this));
                } else {
                    $(this).siblings(':first').children(':first-child').clone().appendTo($(this));
                }
            });
            $('.carousel').carousel('pause');
        } else {
            $(".carousel-inner .item").addClass("active");
            $(".carousel-control").remove();
        }
    }
    set_carousel();
</script>
{% endblock %}