{% extends "projects/base.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'projects/css/author_form.css' %}"/>
<link rel="stylesheet" href="{% static 'projects/css/cropper.css' %}"/>
<style>
  button.close:hover{
    opacity: 1 !important;
  }
  #ideal_role_counter{
    font-size: 1.2rem;
    z-index: 10000;
    position: absolute;
    right: -1%;
    bottom: 0;
  }
  .author-img-view{
    overflow: hidden; 
    width: 100px; 
    height: 100px; 
    background-size: cover; 
    border-radius: 50%;
  }
  .input_field {
    float: left;
    width: 80%;
  }
</style>
{% endblock %}
{% block bodyclass %}author-profile{% endblock %}
{% block scripts %}
<script src="{% static 'projects/js/author_form.js' %}"></script>
<script src="{% static 'projects/js/mycropper.js' %}"></script>
<script src="{% static 'projects/js/cropper.js' %}"></script>
{% endblock %}
{% block content %}

	<main role="main">
		<!-- section -->
		<section>

		<div class="container-fluid author-page-container">
			<div class="">
				<div class="col-sm-12 p-0 col-centered">
<form method="POST" action="/profile/" enctype="multipart/form-data">
{% csrf_token %}
  <input type="hidden" name="x_profile"  id="x_profile"/>
  <input type="hidden" name="y_profile" id="y_profile" />
  <input type="hidden" name="w_profile" id="w_profile" />
  <input type="hidden" name="h_profile" id="h_profile" />
<input type="hidden" name="post_type" value="author_upload" />
{% if object %}
  <input type="hidden" name="is_edit" value="{{ object.id }}" />
{% endif %}
<div class="row">

<div class="col-md-3"></div>
  <div class="col-md-6 author-create-modal">
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-9" style="padding:0;">
			<span class="error_area">
			</span>
		</div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <div class="row">
          <div class="col-md-12 avatar">
            <!-- <img alt="" id="author-img-view" src="{% if img_url %}{{ img_url }} {% else %} {% static 'projects/images/avatar.png' %}{% endif %}"/> -->
            <div class="col-md-3">
              <div class="author-img-view" style="background-image: url({% if img_url %}{{ img_url }} {% else %} {% static 'projects/images/avatar.png' %}{% endif %});"></div>
            </div>
            
            <label>
              <input id="author-img-input" name="avatar" type="file" style="display: None" >
            </label>
          </div>
        </div>
      </div>
      <div class="col-md-9" style="margin-left: -25px">

        <div class="row">


          <div class="col-md-12 form-group">
            <div class="row">
              <div class="col-md-6">
                <input type="text" name="first_name" class="full-width input_field" placeholder="First Name" value="{{ object.first_name }}"/>
              </div>
              <div class="col-md-6">
                <input type="text" name="last_name" class="full-width" placeholder="Last Name" value="{{ object.last_name }}" style="margin-left:-14%;"/>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6 form-group">
                <input type="text" name="position" class="full-width input_field" placeholder="Current Position" value="{{ object.position }}"/>
              </div>
            </div>
          </div>
          {% comment %} <div class="col-md-12" rr="abc">
            <div class="row">
              <div class="col-md-6 form-group">
                {{ university_form.university_select }}
              </div>
            </div>
          </div>           {% endcomment %}
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6 form-group">
                <select class="institute-name full-width input_field" name="institute">
					<option value="">Select University</option>
					{% for uni in universities %}
						<option value="{{ uni.id }}" {% if object.university_id == uni.id %} selected="selected" {% endif %} >{{ uni.name }}</option>
					{% endfor %}
                </select>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <input type="text" name="website" class="full-width" placeholder="Personal Website" value="{{ object.website }}"/>
            </div>
          </div>
          <div class="col-md-12 form-group">
            <hr class="hrline"/>
          </div>
          <input type="hidden" id="university_list" data="hi"/>
		  <input type="hidden" name="edu_records_length" id="edu_records_length" value="{{ qualification_records_count }}"/>
          <div class="col-md-12 form-group">
            <div class="row">
              <div class="col-md-12 edu-list">
                

				{% for qual in qualification %}
        <div class="row edu-row form-group" he="{{ qualification.0.id }}">
          <input type="hidden" id="qual_id" name="qual_id_{{ forloop.counter0 }}" value="{{ qual.id }}" />
          <div class="col-md-6">
            <select class="edu-name full-width" name="uni{{ forloop.counter0 }}_0">
            <option value="">Select University</option>
            {% for uni in universities %}
              <option value="{{ uni.id }}" {% if qual.university_id == uni.id %} selected="selected" {% endif %} >{{ uni.name }}</option>
            {% endfor %}
            </select>
					</div>
                  <div class="col-md-6">
                    <div class="row">
                      <div class="col-md-5 no-left-pad">
                        <select class="full-width degree" name="uni{{ forloop.counter0 }}_1">
                          {% for degree in degrees %}
                            {% if degree == '' %}
                            <option value="">Degree</option>
                            {% else %}
                            <option value="{{ degree }}" {% if qual.degree == degree %} selected="selected" {% endif %}>{{ degree }}</option>
                            {% endif %}
                          {% endfor %}
                        </select>
                      </div>
                      <div class="col-md-5 no-left-pad">
                          <select class="full-width year" name="uni{{ forloop.counter0 }}_2">
                          {% for year in years %}
                            {% if year == '' %}
                            <option value="">Year</option>
                            {% else %}
                            <option value="{{ year }}" {% if qual.year == year %} selected="selected" {% endif %}>{{ year }}</option>
                            {% endif %}
                          {% endfor %}
                        </select>
                      </div>
                      <div class="col-md-2">
                        <button type="button" class="close item-remove" aria-label="Close" style="text-shadow: none; opacity: 0.5;">
                          <span class="glyphicon glyphicon-remove" style="color: #FED501;font-size: .8em;"></span>
                        </button>
                      </div>                      
                    </div>
                  </div>
                </div>
				  {% empty %}
          <div class="row edu-row form-group">
          <div class="col-md-6">
				  <select class="edu-name full-width" name="uni0_0">
					<option value="">Select University</option>
					{% for uni in universities %}
						<option value="{{ uni.id }}" >{{ uni.name }}</option>
					{% endfor %}
					</select>
					</div>
                  <div class="col-md-6">
                    <div class="row">
                      <div class="col-md-5 no-left-pad">
                        <select class="full-width degree" name="uni0_1">
                          {% for degree in degrees %}
                            {% if degree == '' %}
                            <option value="">Degree</option>
                            {% else %}
                            <option value="{{ degree }}">{{ degree }}</option>
                            {% endif %}
                          {% endfor %}
                        </select>
                      </div>
                      <div class="col-md-5 no-left-pad">
                          <select class="full-width year" name="uni0_2">
                          {% for year in years %}
                            {% if year == '' %}
                            <option value="">Year</option>
                            {% else %}
                            <option value="{{ year }}">{{ year }}</option>
                            {% endif %}
                          {% endfor %}
                        </select>
                    </div>
                    
                    </div>
                  </div>
                </div>
				{% endfor %}
                
              </div>
              <div class="col-md-12">
                <a href="javascript:void(0)" id="edu-add-btn" style="color:#FED501; float:left; font-weight: 900;">+</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 ideal-role d-flex">
        <textarea name="ideal_role" placeholder="Ideal Role" rows="5" class="ideal_role" style="width:93%; margin-left:-2%;">{{ object.ideal_role }}</textarea>
        <span id="ideal_role_counter"></span>
      </div>
      <div class="col-md-12">
        <label></label>
      </div>
    </div>
    {% if not user.customuser.type == 'PF' %}
    <div class="row">
      <div class="col-md-12 form-group previous_work col-md-offset-2 exp_record_title" ><label>Previous Work Experience</label></div>
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-6 exp-list col-md-offset-2 exp_records_area">
		  <input type="hidden" name="exp_records_length" id="exp_records_length" value="{{ work_exp_count }}" />
		  {% for exp in work_exp %}
            <div class="row exp-row form-group">
              <div class="col-md-12 form-group"><input type="text" class="company-input full-width" placeholder="Company" value="{{ exp.company }}" name="exp{{ forloop.counter0 }}_0"/></div>
              <div class="col-md-12 form-group"><input type="text" class="position-input full-width" placeholder="Position" value="{{ exp.position }}" name="exp{{ forloop.counter0 }}_1"/></div>
              <div class="col-md-12 form-group">
                <div class="row">
                  <div class="col-md-6">
                  <select class="from-input full-width" name="exp{{ forloop.counter0 }}_2">
                          {% for year in years %}
                            {% if year == '' %}
                            <option value="">From</option>
                            {% else %}
                            <option value="{{ year }}" {% if exp.yearfrom == year %} selected="selected" {% endif %}>{{ year }}</option>
                            {% endif %}
                          {% endfor %}
                        </select>
                  </div>
                  <div class="col-md-6">
				  		<select class="to-input full-width" name="exp{{ forloop.counter0 }}_3">
                          {% for year in years %}
                            {% if year == '' %}
                            <option value="">To</option>
                            {% else %}
                            <option value="{{ year }}" {% if exp.yearto == year %} selected="selected" {% endif %}>{{ year }}</option>
                            {% endif %}
                          {% endfor %}
                        </select>
                  </div>
                </div>
              </div>
              <div class="col-md-12 form-group">
                <a href="javascript:void(0)" class="item-remove" style="color:yellow; float:right;">
                  <span class="glyphicon glyphicon-remove" style="color: #FED501;font-size: .8em;"></span>
                </a>
              </div>              
            </div>
			{% empty %}
			<div class="row exp-row form-group">
              <div class="col-md-12 form-group"><input type="text" class="company-input full-width" placeholder="Company" name="exp0_0" /></div>
              <div class="col-md-12 form-group"><input type="text" class="position-input full-width" placeholder="Position" name="exp0_1"/></div>
              <div class="col-md-12 form-group">
                <div class="row">
                  <div class="col-md-6">
					<select class="from-input full-width" name="exp0_2">
							{% for year in years %}
								{% if year == '' %}
								<option value="">From</option>
								{% else %}
								<option value="{{ year }}">{{ year }}</option>
								{% endif %}
							{% endfor %}
						</select>
                  </div>
                  <div class="col-md-6">
				  		<select class="to-input full-width" name="exp0_3">
                          {% for year in years %}
                            {% if year == '' %}
                            <option value="">To</option>
                            {% else %}
                            <option value="{{ year }}">{{ year }}</option>
                            {% endif %}
                          {% endfor %}
                        </select>
                  </div>
                </div>
              </div>

            </div>
		  {% endfor %}
          </div>
        </div>
      </div>
      <div class="col-md-12 form-group">
        <a class="col-md-offset-2" href="javascript:void(0)" id="exp-add-btn" style="color:#FED501; float:left; font-weight: 900; margin-left:21.5%; cursor:pointer;">+</a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-12 form-group">
            <hr class="hrline" style="width:92.5%; margin-left:3%;"/>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
      <div class="row">
        <div class="col-md-12">
          <div class="row save-row">
            <div class="col-md-offset-4 col-md-4 text-center">
              <button id="save-profile" class="btn forefront-upload-button">Save</button>
            </div>
          </div>
        </div>
      </div>
  </div>
  <div class="col-md-3"></div>
</div>
</form>
<div id="edu-new" style="display: none">
  <div class="row edu-row form-group">
    <div class="col-md-6">
		<select class="edu-name full-width" name="uni">
		<option value="">Select University</option>
			{% for uni in universities %}
				<option value="{{ uni.id }}">{{ uni.name }}</option>
			{% endfor %}

		</select></div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-5 no-left-pad"><select class="full-width degree" name="uni">
                          {% for degree in degrees %}
                            {% if degree == '' %}
                            <option value="">Degree</option>
                            {% else %}
                            <option value="{{ degree }}">{{ degree }}</option>
                            {% endif %}
                          {% endfor %}
                        </select></div>
        <div class="col-md-5 no-left-pad">
                          <select class="full-width year" name="uni">
                          {% for year in years %}
                            {% if year == '' %}
                            <option value="">Year</option>
                            {% else %}
                            <option value="{{ year }}">{{ year }}</option>
                            {% endif %}
                          {% endfor %}
                        </select></div>
        <div class="col-md-2">
          <button type="button" class="close item-remove" aria-label="Close" style="text-shadow: none; opacity: 0.5;">
            <span class="glyphicon glyphicon-remove" style="color: #FED501;font-size: .8em;"></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="exp-new" style="display: none">
  <div class="row exp-row form-group">
    <div class="col-md-12 form-group"><input type="text" class="company-input full-width"
                                             placeholder="Company" name="exp_co"/></div>
    <div class="col-md-12 form-group"><input type="text" class="position-input full-width"
                                             placeholder="Position" name="exp_pos"/></div>
    <div class="col-md-12 form-group">
      <div class="row">
        <div class="col-md-6">
        <select class="from-input full-width" name="exp_from">
                          {% for year in years %}
                            {% if year == '' %}
                            <option value="">From</option>
                            {% else %}
                            <option value="{{ year }}">{{ year }}</option>
                            {% endif %}
                          {% endfor %}
                        </select>
        </div>
        <div class="col-md-6">
        <select class="to-input full-width" name="exp_to">
                          {% for year in years %}
                            {% if year == '' %}
                            <option value="">To</option>
                            {% else %}
                            <option value="{{ year }}">{{ year }}</option>
                            {% endif %}
                          {% endfor %}
                        </select>
        </div>
      </div>
    </div>
    <div class="col-md-12 form-group">
      <a href="javascript:void(0)" class="item-remove" style="color:yellow; float:right;">
        <span class="glyphicon glyphicon-remove" style="color: #FED501;font-size: .8em;"></span>
      </a>
    </div>
  </div>
</div>
				</div>
			</div>
      </div>
      

<!-- author-img-avatar MODAL -->
<div class="modal bd-example-modal-lg" id="profileModal" tabindex="-1" role="dialog" aria-labelledby="Crop Image Here" aria-hidden="true"  data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Crop Image</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
          <img src="" style="width: 100% !important; max-height: 500px; object-fit: cover;" id="profileModalImg">
        </div>
      </div>
      <div class="modal-footer" style="display: flex;justify-content: space-between;">
        <div>
            <button id="img-crop-zoom-out" class="btn btn-secondary"><span class="glyphicon glyphicon-minus" style="color: #000;"></span></button>
            <button id="img-crop-zoom-in" class="btn btn-secondary"><span class="glyphicon glyphicon-plus" style="color: #000;"></span></button>
          </div>
          <div style="margin: 0 20px;">
              <button id="img-crop-left" class="btn btn-secondary"><span class="glyphicon glyphicon-arrow-left" style="color: #000;"></span></button>
              <button id="img-crop-right" class="btn btn-secondary"><span class="glyphicon glyphicon-arrow-right" style="color: #000;"></span></button>
              <button id="img-crop-up" class="btn btn-secondary"><span class="glyphicon glyphicon-arrow-up" style="color: #000;"></span></button>
              <button id="img-crop-down" class="btn btn-secondary"><span class="glyphicon glyphicon-arrow-down" style="color: #000;"></span></button>
          </div>
          <div>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" id="profileCropBtn">Save changes</button>
          </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}