{% extends "projects/base.html" %}
{% load static %}
{% block bodyclass %}project project-view{% endblock bodyclass %}

{% block content %}

{% include "projects/_project.html" %}

{% endblock %}
{% block scripts %}
<script src="{% static 'projects/js/author_form.js' %}"></script>
<script>
    if( ($("#upm-img1").attr("src") === '' && $("#upm-img2").attr("src") === '' && $("#upm-img3").attr("src") === '') ){
        $(".upm").parent().css({'height': 0});
    }

    if($(".preview_imgs").length == 0){
        $(".upm").parent().css({'height': 0});
    }

    function set_carousel() {
        var items = $(".carousel-inner .item").length;
        if (items > 3) {
            $(".carousel-inner .item").first().addClass("active");
            $('.carousel .item').each(function () {
                var next = $(this).next();
                if (!next.length) {
                    next = $(this).siblings(':first');
                }
                next.children(':first-child').clone().appendTo($(this));
                if (next.next().length > 0) {
                    next.next().children(':first-child').clone().appendTo($(this));
                } else {
                    $(this).siblings(':first').children(':first-child').clone().appendTo($(this));
                }
            });
            $('.carousel').carousel('pause');
        } else {
            $(".carousel-inner .item").addClass("active");
            $(".carousel-control").remove();
        }
    }
    set_carousel();
</script>
{% endblock %}