{% extends "projects/base.html" %}
{% block bodyclass %}search-results{% endblock %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" rel="stylesheet">
  <style>
    .glyphicon {
      color: white;
    }
    
    @media screen and (max-width: 320px){
      .uname{
        font-size: .98em !important;
        text-transform: capitalize;
      }
    }

    /* -------custom style for table------ Starts */

    table.dataTable tbody tr {
        background-color: transparent !important;
    }
    .pagination {
      display: inline-block;
    }

    .pagination a {
      color: black;
      float: left;
      padding: 8px 16px;
      text-decoration: none;
    }
    .dataTables_paginate {
      display: flex;
      width: 100%;
    }
    
    
    .dataTables_wrapper .dataTables_paginate .paginate_button {
      min-width: 2.5em;
    }
    .paginate_button {
          width: 20% !important;
    }
    
    /* -------custom style for table------ End */
    .redirect_url {
      font-weight: bold;
    }
    table#groups_table tbody tr td p:first-child {
      font-size: 17px;
    }
    table#project_table tbody tr td p:first-child {
      font-size: 17px;
    }    
    table#members_table tbody tr td p:first-child {
      font-size: 17px;
    }
    #groups_table tr td{
      padding-left: 0;
    }
    #groups_table tr td div:first-child{
      padding-left: 0;
    }
    #project_table tr td{
      padding-left: 0;
    }
    #project_table tr td div:first-child{
      padding-left: 0;
    }
    #members_table tr td div div img{
      margin-top: 10%;
    }
    .custom_container {
      padding-bottom: 5%;
    }
  </style>
{% endblock %}
{% block scripts %}
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="{% static 'projects/js/pagination.js' %}"></script>
    <script src="{% static 'projects/js/author_form.js' %}"></script>
{% endblock %}
{% block content %}
{% csrf_token %}
<div class="container custom_container">

<div class="row">
    <div class="col-md-4">
        <div class="text-center">
            <h3 class="warning font-weight-bold">Groups</h3>
        </div>
        <div class="search-top-container">
            {% comment %} <div class="results-count">
            {{groups_count}} results found
            </div> {% endcomment %}
        </div>
        {% comment %} {% for object in groups_list %}
    
        {% include "projects/_search_groups_item.html" with object=object %}
    
        {% endfor %} {% endcomment %}
        <table id="groups_table"  class="table"></table>
    </div>
    <div class="col-md-4">
        <div class="text-center">
            <h3 class="warning font-weight-bold">Projects</h3>
        </div>
        <div class="search-top-container">
            {% comment %} <div class="results-count">
            {{count}} results found
            </div> {% endcomment %}
        </div>
        
        {% comment %} {% for object in object_list %}
    
        {% include "projects/_search_list_item.html" with object=object %}
    
        {% endfor %} {% endcomment %}
        <table id="project_table"  class="table"></table>
    </div>  
    <div class="col-md-4">
        <div class="text-center">
            <h3 class="warning font-weight-bold">Members</h3>
        </div>
        <div class="search-top-container">
            {% comment %} <div class="results-count">
              {{member_count}} results found
            </div> {% endcomment %}
        </div>
        {% comment %} {% for object in member_list %}
    
        {% include "projects/_search_users_item.html" with object=object %}
    
        {% endfor %} {% endcomment %}
        <table id="members_table"  class="table"></table>
    </div>
</div>

</div>

{% endblock %}

