{% extends "projects/base.html" %}

{% block content %}
  <div class="col-sm-4">
    <h2 class="confirm-email-text" style="color: #e8e6e6; font-size: 14px !important;">{{ issue }}</h2>
  </div>
{% endblock %}
