{% extends "projects/base.html" %}
{% load static %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            {% for object in object_list %}
    
            {% include "projects/_search_list_item.html" with object=object %}
    
            {% endfor %}
        </div>
        <div class="col">
            {% for object in object_list %}
    
            {% include "projects/_search_list_item.html" with object=object %}
    
            {% endfor %}
        </div>
        <div class="col">
            {% for object in object_list %}
    
            {% include "projects/_search_list_item.html" with object=object %}
    
            {% endfor %}
        </div>
    </div>
    
</div>

{% endblock %}