{% extends "projects/base.html" %}
{% load static %}

{% block bodyclass %}project project-edit{% endblock bodyclass %}
{% block head %}
<link rel="stylesheet" href="{% static 'projects/css/author_form.css' %}"/>
{% endblock %}

{% block content %}
{% if project_detail_edit %}
{% include "projects/_project.html" with members=members update=True project_detail_edit=project_detail_edit form=form %}
{% else %}
{% include "projects/_project.html" with edit=True members=members  %}
{% endif %}

{% endblock %}
{% block scripts %}
<script src="{% static 'projects/js/author_form.js' %}"></script>
<script src="{% static 'projects/js/cropper.js' %}"></script>
<script src="{% static 'projects/js/mycropper.js' %}"></script>
{% endblock %}
