{% extends 'projects/base.html' %}
{% load static %}
{% block head %} 
    <style>
       .login-form input ,
        .login-form select 
       {
            background: #414141;
            border: 0;
            width: 100%;
            height: 30px;
            color: #fff;
            padding-left: 10px;
        }
       .hrline{
           margin:0;
           border:1px solid;
           color:#FED501;
       }
       .loginbtn
       {
           background: #414141;
           border:none;
           border-radius:7px;
            color:#fff;
       }


        input#id_email::placeholder {
            color: #fff;
        }
        .emailbtn:hover {
            color:#fff;
        }
        .alert_msg {
            border: 1px solid #fff;
            padding: 5px 0;
        }
    </style>
{% endblock %}
{% block content %}


<div class="row" style="padding-top:10%">

    <div class="col-lg-offset-4 col-lg-4 text-center ">
        <form method="post">
            {% csrf_token %}
            <div class="login-form">
                {% if messages %}
                    <div class="form-group alert_msg">
                        {% for msg in messages %}
                            {% if msg.tags == "success" %}
                            <span style="color:white;">{{ msg|safe }}</span>
                            {% else %}
                            <span style="color:red;">{{ msg|safe }}</span>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}  
                <div class="form-group">
                    {{ form.email }}
                </div>
                <div class="form-group">
                    {{ form.projects }}
                </div>
                <div class="form-group" style="margin:40px auto" >
                    <hr class="hrline" style="width:100%">
                </div>
                <div class="form-group" >
                    <input type="submit" value="Email" class="btn emailbtn">
                </div>
            </div>
        </form>
    </div>
</div>




{% endblock %}